<!DOCTYPE html>
<html>

<head>
  <title>403 - AIL</title>
  <link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

  <!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
</head>

<body>

{% include 'nav_bar.html' %}

<div>
  <br>
  <br>
  <h1 class="text-center">403 Forbidden</h1>
</div>
<br>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
<pre>
                                  ,d8       ,a8888a,     ad888888b,
                                ,d888     ,8P"'  `"Y8,  d8"     "88
                              ,d8" 88    ,8P        Y8,         a8P
                            ,d8"   88    88          88      aad8"
                          ,d8"     88    88          88      ""Y8,
                          8888888888888  `8b        d8'         "8b
                                   88     `8ba,  ,ad8'  Y8,     a88
                                   88       "Y8888P"     "Y888888P'

88888888888                       88           88           88           88
88                                88           ""           88           88
88                                88                        88           88
88aaaaa   ,adPPYba,   8b,dPPYba,  88,dPPYba,   88   ,adPPYb,88   ,adPPYb,88   ,adPPYba,  8b,dPPYba,
88"""""  a8"     "8a  88P'   "Y8  88P'    "8a  88  a8"    `Y88  a8"    `Y88  a8P_____88  88P'   `"8a
88       8b       d8  88          88       d8  88  8b       88  8b       88  8PP"""""""  88       88
88       "8a,   ,a8"  88          88b,   ,a8"  88  "8a,   ,d88  "8a,   ,d88  "8b,   ,aa  88       88
88        `"YbbdP"'   88          8Y"Ybbd8"'   88   `"8bbdP"Y8   `"8bbdP"Y8   `"Ybbd8"'  88       88
</pre>
</div>

<body>

</html>
