<!DOCTYPE html>
<html>

<head>
  <title>404 - AIL</title>
  <link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

  <!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
</head>

<body>

{% include 'nav_bar.html' %}

<div>
  <br>
  <br>
  <h1 class="text-center">404 Not Found</h1>
</div>
<br>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
<pre>
        ,d8       ,a8888a,              ,d8
      ,d888     ,8P"'  `"Y8,          ,d888
    ,d8" 88    ,8P        Y8,       ,d8" 88
  ,d8"   88    88          88     ,d8"   88
,d8"     88    88          88   ,d8"     88
8888888888888  `8b        d8'   8888888888888
         88     `8ba,  ,ad8'             88
         88       "Y8888P"               88
</pre>
</div>

<body>

</html>
