{% if ollama_enabled or ollama_description %}
    <div class="card border-secondary">
        <div class="card-body py-2">
            {% if ollama_description %}
                <div class="ail-markdown">{{ ollama_description }}</div>
            {% elif ollama_enabled %}
                <span>
                    <a class="btn btn-primary" href="{{ url_for('objects_item.domain_describe') }}?id={{ domain_id }}"><i class="fa-solid fa-magnifying-glass-plus"></i> 📝Image Description</a>
                </span>
            {% endif %}
        </div>
    </div>
    <script type="module">
        import { renderMarkdownElements } from "{{ url_for('static', filename='js/markdown-renderer.es.js') }}";
        renderMarkdownElements();
    </script>
{% endif %}
