<div class="navbar-header">
    <ul class="nav navbar-nav">
        <li id='page-index'><a href="{{ url_for('index') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
        <li id='page-trendingchart'><a href="{{ url_for('trending') }}"><i class="glyphicon glyphicon-stats"></i> Trending charts</a></li>
        <li id='page-modulestats'><a href="{{ url_for('moduletrending') }}"><i class="glyphicon glyphicon-stats"></i> Modules statistics</a></li>
        <li id='page-browse'><a href="{{ url_for('browseImportantPaste') }}"><i class="fa fa-search-plus "></i> Browse important pastes</a></li>
        <li id='page-sentiment'><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-heart"></i> Sentiment Analysis
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('sentiment_analysis_trending') }}"> Sentiment trending</a></li>
              <li><a href="{{ url_for('sentiment_analysis_plot_tool') }}">Sentiment plot Tool</a></li>
            </ul>
        </li>
        <li id='page-termsfrequency'><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-eye"></i> Terms frequency
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('terms_management') }}">Terms managements</a></li>
              <li><a href="{{ url_for('terms_plot_tool') }}">Terms plot Tool</a></li>
            </ul>
        </li>
    </ul>
</div>
