<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Analysis Information Leak framework Dashboard</title>

  <!-- Core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dygraph_gallery.css') }}" rel="stylesheet" type="text/css" />
  <!-- JS -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/dygraph-combined.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
  <script>
      window.default_minute = {{ default_minute }};
      function update_values() {
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          $.getJSON($SCRIPT_ROOT+"/_stuff",
              function(data) {
                  window.glob_tabvar = data;
              });
      };
      update_values();
  </script>

</head>
<body>

    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
           <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('index') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
              <li><a href="{{ url_for('trending') }}"><i class="glyphicon glyphicon-stats"></i> Trending charts</a></li>
              <li><a href="{{ url_for('moduletrending') }}"><i class="glyphicon glyphicon-stats"></i> Modules statistics</a></li>
           </ul>
        </div>
          <!-- /.navbar-top-links -->
          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-collapse">
                  <ul class="nav" id="side-menu">
                      <li class="sidebar-search">
                          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='image/AIL.png') }}" /></a>
                          {% include 'searchbox.html' %}
                          <!-- /input-group -->
                      </li>
                 </ul>
                  <!-- /#side-menu -->
              </div>
              <!-- /.sidebar-collapse -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <i class="fa fa-dashboard  fa-fw"></i> Pastes since {{ default_minute }} min
                  </div>
                  <div class="panel-body">
                       <div id="realtimechart" style="height: 90px; padding: 0px; position: relative;"></div>
                  </div>
              </div>
                  <!-- <div id="Graph_paste_num" style="height:90px; width:100%;"></div> -->
              <div class="table-responsive", id="queueing" style="margin-top:10px;"></div>
             <a  href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='image/AIL.png') }}" /></a>
          </div>
          <!-- /.navbar-static-side -->
      </nav>
        <div id="page-wrapper">
        <div class="row">
                <div class="col-lg-12">
		</br>
                </div>
        </div>

            <div class="row">
                      <div class="col-lg-12">
                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Queues Monitor
                      </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6" id="Graph" style="height:400px; width:48%;"></div>
                                <div class="col-lg-6" id="Graph2" style="height:400px; width:48%;"></div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
        <div class="col-lg-12">
        <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-tasks fa-fw"></i> Logs
            <div class="pull-right">
                <label style="padding-bottom:2px;">
		<select class="form-control input-sm" id="log_select">
		<option value="10">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
		</select>
                </label>
		<input id="checkbox_log_info" type="checkbox" value="info" checked="true"> INFO
		<input id="checkbox_log_warning" type="checkbox" value="warning" checked="true"> WARNING
		<input id="checkbox_log_critical" type="checkbox" value="critical" checked="true"> CRITICAL

            </div>
        </div>
        <div class="panel-body">
                    <div class="row">
			    <div class="col-lg-12">
				    <table class="table table-bordered table-hover table-striped" id="table_log">
					<thead>
						<tr>
						<th>Time</th>
						<th>Channel</th>
						<th>Level</th>
						<th>Script Name</th>
						<th>Source</th>
						<th>Date</th>
						<th>Paste name</th>
						<th>Message</th>
						</tr>
					</thead>
					<tbody id="tab_body">
					</tbody>
			            </table>
			    </div>
                   </div>
        </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/indexjavascript.js')}}"></script>

    <script type="text/javascript">
    initfunc( "{{ url_for('static', filename='csv/wordstrendingdata.csv') }}", {{ request.script_root|tojson|safe }} );
    </script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/metisMenu.js') }}"></script>

</body>

</html>
