<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">
    <img src="{{ url_for('static', filename='image/ail-icon.png')}}" alt="AIL" style="width:80px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mr-3" href="{{ url_for('dashboard.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">Submit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">Browse Pastes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">Leaks Hunter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="page-Crawler" href="#" tabindex="-1" href="#" aria-disabled="true">Crawlers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">Decoded</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">Options</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 ml-auto justify-content-center">
      <div class="form-group">
        <input class="form-control mr-sm-2" type="search" id="global_search" placeholder="Search" aria-label="Search" aria-describedby="advanced_search">
        <small id="advanced_search" class="form-text text-muted">Advanced Search</small>
      </div>
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</nav>
