<div id="wrapper">
  <div class="navbar navbar-inverse navbar-static-top nav">
   {% include 'header.html' %}
   <!-- /.navbar-top-links -->
       <div class="navbar-default sidebar" role="navigation">
           <div class="sidebar-collapse">
               <ul class="nav" id="side-menu">
                   <li class="sidebar-search">
                       {% include 'searchbox.html' %}
                   </li>
              </ul>
               <!-- /#side-menu -->
           </div>
           <!-- /.sidebar-collapse -->
        <a  href="{{ url_for('dashboard.index') }}"><img src="{{ url_for('static', filename='image/AIL.png') }}" /></a>
       </div>
       <!-- /.navbar-static-side -->
  </div>
</div>
