                          <div class="input-group custom-search-form">
                              <form action="/search" method=POST>
                              <input type="text" name="query" class="form-control" placeholder="Search Paste">
                              <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                              </form>
                          </span>
                          </div>

