<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Analysis Information Leak framework Dashboard</title>

  <!-- Core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dygraph_gallery.css') }}" rel="stylesheet" type="text/css" />
  <!-- JS -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/dygraph-combined.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.4.2.js') }}"></script>
  <script language="javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <style> 
      .tooltip-inner {
         text-align: left;
         height: 200%;
         width: 200%;
         max-width: 500px;
         max-height: 500px;
         font-size: 13px;
      }
  </style>

</head>
<body>

    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
          <ul class="nav navbar-nav">
               <li class="active"><a href="{{ url_for('index') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li><li><a href="{{ url_for('wordstrending') }}"><i class="glyphicon glyphicon-stats"></i> WordsTrendings</a></li><li><a href="{{ url_for('protocolstrending') }}"><i class="glyphicon glyphicon-stats"></i> ProtocolsTrendings</a></li><li><a href="{{ url_for('tldstrending') }}"><i class="glyphicon glyphicon-stats"></i> Top Level Domain Trending</a></li></ul>
          </div>
          <!-- /.navbar-top-links -->
          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-collapse">
                  <ul class="nav" id="side-menu">
                 {% include 'searchbox.html' %}
                 </ul>
                  <!-- /#side-menu -->
              </div>
              <!-- /.sidebar-collapse -->
           <a  href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='image/AIL.png') }}" /></a>
          </div>
          <!-- /.navbar-static-side -->
      </nav>


      <!-- Modal -->
      <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div id="mymodalcontent" class="modal-content">
            <div id="mymodalbody" class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>


        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row"> </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-search"></i> {{ r|length }} Results
                            <div class="pull-right">
                            
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                          <div class="panel-body">
                          <table class="table table-hover">
                              <thead>
                                   <tr>
                                      <th>#</th>
                                      <th>Path</th>
                                      <th>Action</th>
                                   </tr>
                              </thead>
                              <tbody>
                          {% set i = 0 %}
                          {% for path in r %}
                              {% set prev_content = c[i] %}
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td><a target="_blank" href="{{ url_for('showsavedpaste') }}?paste={{ path }}"> {{ path }}</a></td>
                                    <td><p><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="left" title="{{ prev_content }}"></span> <button type="button" class="btn-link" data-toggle="modal" data-target="#mymodal" data-url="{{ url_for('showsavedpaste') }}?paste={{ path }}"><span class="fa fa-search-plus"></span></button></p></td>
                                </tr>
                              {% set i = i + 1 %}
                          {% endfor %}
                              </tbody>
                          </table>
                          </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

<!-- enable tooltip -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<!-- Dynamically update the modal -->
<script type="text/javascript">
    // On click, get html content from url and update the corresponding modal
    $("[data-toggle='modal']").on("click", function (event) {
        event.preventDefault();
        var url = $(this).attr('data-url');
        var modal_id = $(this).attr('data-target');
        $.get(url, function (data) {
            $("#mymodalbody").html(data);
        });
    });
</script>
</html>
