<div id="password-section-info">
    <br>
    <br>
    <br>
    <h5 class="h3 mb-3 text-center text-secondary">Password Requirements</h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Minimal length
            <span class="badge badge-primary badge-pill">10</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Upper characters: A-Z
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Lower characters: a-z
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Digits: 0-9
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Maximum length
            <span class="badge badge-primary badge-pill">100</span>
        </li>
    </ul>
</div>

