      <div class="col-12 col-lg-2 p-0 bg-light border-right" id="side_menu">

      	<button type="button" class="btn btn-outline-secondary mt-1 ml-3" onclick="toggle_sidebar();">
          <i class="fas fa-align-left"></i>
      	  <span>Toggle Sidebar</span>
      	</button>

      	<nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start py-2" id="nav_menu">
      		<h5 class="d-flex text-muted w-100" id="nav_server">
      		  <span>Diagnostic</span>
      		</h5>
          <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('settings.settings_page')}}" id="nav_server_status">
      	        <i class="fas fa-tools"></i>
      	        <span>Server Status</span>
      	      </a>
      	    </li>
          </ul>
          <h5 class="d-flex text-muted w-100" id="nav_settings">
      		  <span>Settings</span>
      		</h5>
          <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('settings.passive_dns')}}" id="passive_dns">
      	        <img src="{{ url_for('static', filename='image/d4-logo.png')}}" alt="D4 project" style="width:25px;">
      	        <span>Passive DNS</span>
      	      </a>
      	    </li>
          </ul>
          <h5 class="d-flex text-muted w-100 py-2" id="nav_my_profile">
            <span>My Profile</span>
          </h5>
          <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('settings.edit_profile')}}" id="nav_edit_profile">
      	        <i class="fas fa-user-edit"></i>
      	        <span>My Profile</span>
      	      </a>
      	    </li>
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('root.change_password')}}" id="nav_dashboard">
      	        <i class="fas fa-key"></i>
      	        <span>Change Password</span>
      	      </a>
      	    </li>
          </ul>
        {% if admin_level %}
        		<h5 class="d-flex text-muted w-100 py-2" id="nav_user_management">
        		  <span>User Management</span>
        		</h5>
            <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
        	    <li class="nav-item">
        	      <a class="nav-link" href="{{url_for('settings.create_user')}}" id="nav_create_user">
        	        <i class="fas fa-user-plus"></i>
        	        <span>Create User</span>
        	      </a>
        	    </li>
              <li class="nav-item">
        	      <a class="nav-link" href="{{url_for('settings.users_list')}}" id="nav_users_list">
        	        <i class="fas fa-users"></i>
        	        <span>Users List</span>
        	      </a>
        	    </li>
            </ul>
        {% endif %}

        </nav>
      </div>
