# Temp files
*.swp
*.pyc
*.swo
.idea
.coverage

# Install Dirs
AILENV
redis
ardb
kvrocks
DATA_KVROCKS
faup
tlsh
Blooms
PASTES
CRAWLED_SCREENSHOT
IMAGES
FAVICONS
BASE64
HASHS
DATA_ARDB
indexdir/
logs/
old/
pgpdump/
temp/


DEFAULT_PASSWORD

# Webstuff
var/www/static/
!var/www/static/css/dygraph_gallery.css
!var/www/static/js/indexjavascript.js
!var/www/static/js/moduleTrending.js
!var/www/static/js/plot-graph.js
!var/www/static/js/trendingchart.js
var/www/templates/header.html
var/www/submitted
var/www/server.crt
var/www/server.key

# Local config
configs/keys
configs/core.cfg
configs/core.cfg.backup
configs/update.cfg
update/current_version
files
configs/d4client_passiveDNS_conf/uuid

# Trackers
bin/trackers/yara/custom-rules/*

# Helper
tools/gen_cert/rootCA.*
tools/gen_cert/server.*


# Pystemon archives
pystemon/archives

# installed files
nltk_data/
doc/all_modules.txt
# auto generated
doc/module-data-flow.png
doc/data-flow.png
doc/ail_queues.dot
doc/ail_queues.svg
doc/statistics
