pyail
pymisp
d4-pyclient

thehive4py

redis==2.10.6
#filemagic conflict with magic
crcmod
mmh3
ssdeep

pubsublogger
zmq
langid

#Essential
pyzmq
dnspython
logbook
pubsublogger
textblob

#Tokeniser
nltk

html2text
yara-python

#Crawler
scrapy
scrapy-splash
pycld3

#Graph
numpy
matplotlib
networkx
terminaltables
colorama
asciimatics

# Hashlib
crcmod
mmh3
ssdeep
python-Levenshtein

#Others
python-magic
pybloomfiltermmap
psutil
phonenumbers

ipython
texttable

flask
flask-login
bcrypt

#DomainClassifier
git+https://github.com/D4-project/BGP-Ranking.git/#egg=pybgpranking&subdirectory=client
DomainClassifier
#Indexer requirements
whoosh

beautifulsoup4

ipaddress
pycountry==18.12.8

# To fetch Onion urls
PySocks

# decompress files
sflock

#ASN lookup requirements
#https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/adns-python/adns-python-1.2.1.tar.gz
https://github.com/trolldbois/python3-adns/archive/master.zip
https://github.com/trolldbois/python-cymru-services/archive/master.zip

https://github.com/saffsd/langid.py/archive/master.zip

#LibInjection bindings
pylibinjection

# Graph
matplotlib
