[Mixer]
subscribe = ZMQ_Global
publish = Redis_Mixer,Redis_preProcess1

[Sync_importer]
publish = Redis_Mixer,Redis_Tags

[Importer_Json]
publish = Redis_Mixer,Redis_Tags

[Global]
subscribe = Redis_Mixer
publish = Redis_Global,Redis_ModuleStats

#[PreProcessFeed]
#subscribe = Redis_preProcess1
#publish = Redis_Mixer

[Duplicates]
subscribe = Redis_Duplicate

[Indexer]
subscribe = Redis_Global

[Hosts]
subscribe = Redis_Global
publish = Redis_Host

[DomClassifier]
subscribe = Redis_Host
publish = Redis_D4_client

[D4_client]
subscribe = Redis_D4_client

[Retro_Hunt]
subscribe = Redis
publish = Redis_Tags

[Tracker_Typo_Squatting]
subscribe = Redis_Host
publish = Redis_Tags

[Tracker_Term]
subscribe = Redis_Global
publish = Redis_Tags

[Tracker_Regex]
subscribe = Redis_Global
publish = Redis_Tags

[Tracker_Yara]
subscribe = Redis_Global
publish = Redis_Tags

[Tools]
subscribe = Redis_Global
publish = Redis_Tags

[Telegram]
subscribe = Redis_Global
publish = Redis_Tags

[Languages]
subscribe = Redis_Global

[Categ]
subscribe = Redis_Global
publish = Redis_CreditCards,Redis_Mail,Redis_Onion,Redis_Urls,Redis_Credential,Redis_SourceCode,Redis_Cve,Redis_ApiKey,Redis_SyncModule

[CreditCards]
subscribe = Redis_CreditCards
publish = Redis_Duplicate,Redis_ModuleStats,Redis_Tags

[BankAccount]
subscribe = Redis_Global
publish = Redis_Duplicate,Redis_Tags

[Mail]
subscribe = Redis_Mail
publish = Redis_Duplicate,Redis_ModuleStats,Redis_Tags

[Onion]
subscribe = Redis_Onion
publish = Redis_ValidOnion,Redis_Tags,Redis_Crawler
#publish = Redis_ValidOnion,ZMQ_FetchedOnion,Redis_Tags,Redis_Crawler

# TODO remove me
[DumpValidOnion]
subscribe = Redis_ValidOnion

[Urls]
subscribe = Redis_Urls
publish = Redis_Url
#publish = Redis_Url,ZMQ_Url

[LibInjection]
subscribe = Redis_Url
publish = Redis_Duplicate,Redis_Tags

[SQLInjectionDetection]
subscribe = Redis_Url
publish = Redis_Duplicate,Redis_Tags

[ModuleStats]
subscribe = Redis_ModuleStats

[Tags]
subscribe = Redis_Tags
publish = Redis_Tags_feed,Redis_SyncModule

# dirty fix
[Sync_module]
subscribe = Redis_SyncModule

[MISP_The_hive_feeder]
subscribe = Redis_Tags_feed

#[send_to_queue]
#subscribe = Redis_Cve
#publish = Redis_Tags

[SentimentAnalysis]
subscribe = Redis_Global

[Release]
subscribe = Redis_Global

[Credential]
subscribe = Redis_Credential
publish = Redis_Duplicate,Redis_ModuleStats,Redis_Tags

[Cve]
subscribe = Redis_Cve
publish = Redis_Duplicate,Redis_Tags

[Phone]
subscribe = Redis_Global
publish = Redis_Duplicate,Redis_Tags

[Keys]
subscribe = Redis_Global
publish = Redis_Duplicate,Redis_PgpDump,Redis_Tags

[PgpDump]
subscribe = Redis_PgpDump
publish = Redis_Duplicate,Redis_Tags

[ApiKey]
subscribe = Redis_ApiKey
publish = Redis_Duplicate,Redis_Tags

[Decoder]
subscribe = Redis_Global
publish = Redis_Duplicate,Redis_Tags

[Bitcoin]
subscribe = Redis_Global
publish = Redis_Duplicate,Redis_Tags

[submit_paste]
subscribe = Redis
publish = Redis_Mixer

[Crawler]
subscribe = Redis_Crawler
publish = Redis_Mixer,Redis_Tags

[IP]
subscribe = Redis_Global
publish = Redis_Duplicate,Redis_Tags

[Zerobins]
subscribe = Redis_Url