<div class="card border-secondary my-2">
    <div class="card-body text-dark">
        <h5 class="card-title"><i class="fas fa-bug"></i> CVE Search:</h5>
        <form action="{{ url_for('objects_cve.objects_cve_search') }}" id="search_subtype_onj" method='post'>
            <div class="input-group mb-1">
                <input type="text" name="page" value="{% if page %}{{ page }}{% else %}1{% endif %}" hidden="">
                <input type="text" class="form-control col-10" name="object_id" value="" placeholder="CVE ID" required>
                <button class="btn btn-primary input-group-addon search-obj col-2"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>