<!DOCTYPE html>

<html>
<head>
	<title>AIL-Framework</title>
	<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png')}}">
	<!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/daterangepicker.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/tags.css') }}" rel="stylesheet">

	<!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap4.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/tags.js') }}"></script>
	<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.daterangepicker.min.js') }}"></script>

</head>

<body>

	{% include 'nav_bar.html' %}

	<div class="container-fluid">
		<div class="row">

			{% include 'hunter/menu_sidebar.html' %}

			<div class="col-12 col-lg-10" id="core_content">

                <div class="card my-3">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title">Create a new Retro Hunt task</h5>
                    </div>
                    <div class="card-body">

                        <form action="{{ url_for('hunters.retro_hunt_add_task') }}" method='post'>

                            <div class="row">
                                <div class="col-12 col-xl-9">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-secondary text-white"><i class="fas fa-quote-right"></i></div>
                                        </div>
                                        <input id="name" name="name" class="form-control" placeholder="Retro Hunt Name" type="text" required>
                                    </div>

											<!-- <div class="input-group mb-2 mr-sm-2">
										    <div class="input-group-prepend">
										      <div class="input-group-text bg-secondary text-white"><i class="fas fa-at"></i></div>
										    </div>
												<input id="mails" name="mails" class="form-control" placeholder="E-Mails Notification (optional, space separated)" type="text"}>
										  </div> -->
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-info text-white"><i class="fas fa-pencil-alt"></i></div>
                                        </div>
                                        <textarea id="description" name="description" class="form-control" placeholder="Retro Hunt Description (optional)" rows="3"></textarea>
                                    </div>

                                    <div class="card my-4">
                                        <div class="card-header bg-info text-white">
                                            <b>Objects to Track:</b>
                                        </div>
                                        <div class="card-body">
{#                                                    <div class="custom-control custom-switch mt-1">#}
{#                                                        <input class="custom-control-input" type="checkbox" name="cve_obj" id="cve_obj" checked="">#}
{#                                                        <label class="custom-control-label" for="cve_obj"><i class="fas fa-bug"></i>&nbsp;CVE</label>#}
{#                                                    </div>#}
{#                                                    <div class="custom-control custom-switch mt-1">#}
{#                                                        <input class="custom-control-input" type="checkbox" name="crypto_obj" id="crypto_obj" checked="">#}
{#                                                        <label class="custom-control-label" for="crypto_obj"><i class="fas fa-coins"></i>&nbsp;Cryptocurrency</label>#}
{#                                                    </div>#}
                                            <div class="custom-control custom-switch mt-1">
                                                <input class="custom-control-input" type="checkbox" name="decoded_obj" id="decoded_obj">
                                                <label class="custom-control-label" for="decoded_obj"><i class="fas fa-lock-open"></i>&nbsp;Decoded</label>
                                            </div>
                                            <div class="custom-control custom-switch mt-1">
                                                <input class="custom-control-input" type="checkbox" name="message_obj" id="message_obj" checked="">
                                                <label class="custom-control-label" for="message_obj"><i class="fas fa-comment-dots"></i>&nbsp;Messages</label>
                                            </div>
                                            <div class="custom-control custom-switch mt-1">
                                                <input class="custom-control-input" type="checkbox" name="ocr_obj" id="ocr_obj" checked="">
                                                <label class="custom-control-label" for="ocr_obj"><i class="fas fa-expand"></i>&nbsp;Ocrs</label>
                                            </div>
{#                                                    <div class="custom-control custom-switch mt-1">#}
{#                                                        <input class="custom-control-input" type="checkbox" name="domain_obj" id="domain_obj" checked="">#}
{#                                                        <label class="custom-control-label" for="domain_obj"><i class="fas fa-spider"></i>&nbsp;Domain</label>#}
{#                                                    </div>#}
                                            <div class="custom-control custom-switch mt-1">
                                                <input class="custom-control-input" type="checkbox" name="item_obj" id="item_obj" checked="">
                                                <label class="custom-control-label" for="item_obj"><i class="fas fa-file"></i>&nbsp;Item</label>
                                            </div>
                                            <div class="card border-dark mb-4" id="sources_item_div">
                                                <div class="card-body">
                                                    <h5>Filter Item by sources</h5>
                                                    <div class="input-group mb-2 mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text bg-dark text-white"><i class="fas fa-folder"></i></div>
                                                        </div>
                                                        <input id="sources_item" class="form-control" type="text" name="sources_item" placeholder="Item Sources to track (ALL IF EMPTY)" autocomplete="off">
                                                    </div>
                                                    <h5>Date range:</h5>
                                                    <div class="row mb-2">
                                                        <div class="col-lg-6">
                                                            <div class="input-group" id="date-range-from">
                                                                <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt" aria-hidden="true"></i></span></div>
                                                                <input class="form-control" id="date-range-from-input" placeholder="yyyy-mm-dd" name="date_from_item" autocomplete="off">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="input-group" id="date-range-to">
                                                                <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt" aria-hidden="true"></i></span></div>
                                                                <input class="form-control" id="date-range-to-input" placeholder="yyyy-mm-dd" name="date_to_item" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


{#                                            <div class="custom-control custom-switch mt-1">#}
{#                                                <input class="custom-control-input" type="checkbox" name="pgp_obj" id="pgp_obj" checked="">#}
{#                                                <label class="custom-control-label" for="pgp_obj"><i class="fas fa-key"></i>&nbsp;PGP</label>#}
{#                                            </div>#}
{#                                            <div class="card border-dark mb-4" id="sources_pgp_div">#}
{#                                                <div class="card-body">#}
{#                                                    <h6>Filter PGP by subtype:</h6>#}
{#                                                    <div class="custom-control custom-switch mt-1">#}
{#                                                        <input class="custom-control-input" type="checkbox" name="filter_pgp_name" id="filter_pgp_name" checked="">#}
{#                                                        <label class="custom-control-label" for="filter_pgp_name">#}
{#                                                            <svg height="26" width="26">#}
{#                                                                <g class="nodes">#}
{#                                                                    <circle cx="13" cy="13" r="13" fill="#44AA99"></circle>#}
{#                                                                    <text x="13" y="13" text-anchor="middle" dominant-baseline="central" class="graph_node_icon fas" font-size="16px">&#xf507;</text>#}
{#                                                                </g>#}
{#                                                            </svg>#}
{#                                                            name#}
{#                                                        </label>#}
{#                                                    </div>#}
{#                                                    <div class="custom-control custom-switch mt-1">#}
{#                                                        <input class="custom-control-input" type="checkbox" name="filter_pgp_mail" id="filter_pgp_mail" checked="">#}
{#                                                        <label class="custom-control-label" for="filter_pgp_mail">#}
{#                                                            <svg height="26" width="26">#}
{#                                                                <g class="nodes">#}
{#                                                                    <circle cx="13" cy="13" r="13" fill="#44AA99"></circle>#}
{#                                                                    <text x="13" y="13" text-anchor="middle" dominant-baseline="central" class="fas" font-size="16px">&#xf1fa;</text>#}
{#                                                                </g>#}
{#                                                            </svg>#}
{#                                                            mail#}
{#                                                        </label>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}


                                        </div>
                                    </div>

                                    <div class="card my-4">
                                        <div class="card-header bg-secondary text-white">
                                            <b>Tags</b>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-group mb-2 mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text bg-danger text-white"><i class="fas fa-tag"></i></div>
                                                </div>
                                                <input id="tags" name="tags" class="form-control" placeholder="Custom Tags (optional, space separated)" type="text">
                                            </div>
                                            {% include 'tags/block_tags_selector.html' %}
                                        </div>
                                    </div>


                                </div>
                                <div class="col-12 col-xl-3">

                                    <label  class="mt-3" for="level_selector">View Level</label>
                                    <select class="custom-select" id="level_selector" name="level">
                                        <option value="1" selected><i class="fas fa-users"></i> Global</option>
                                        <option value="2"><i class="fas fa-landmark"></i> My Organisation</option>
                                    </select>

                                </div>
                            </div>




                            <div class="mb-2" id="yara_rule">
                                <div class="" id="yara_default_rules">

                                    <h6>Default YARA rules:</h6>
                                    <select class="custom-select w-100 mb-3" id="yara_default_rule" name="yara_default_rule" onchange="get_default_rule_content(this);">
                                        <option selected>Select a default rule</option>
                                        {% for yara_types in all_yara_files %}
                                            {% for yara_file_name in all_yara_files[yara_types] %}
                                                <option value="{{yara_types}}/{{yara_file_name}}">{{yara_types}} - {{yara_file_name}}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

                                    <pre class="border bg-light" id="default_yara_rule_content"></pre>

                                </div>

                                <hr>

                                <h6>Custom YARA rules:</h6>
                                <div class="row" id="textarea">
                                    <textarea class="form-control mx-3" id="text_input" name="yara_custom_rule" placeholder="Enter your own YARA rule" rows="5"></textarea>
                                </div>
                            </div>

                            <br>
                            <button class="btn btn-primary mt-2">
                                <i class="fas fa-plus"></i> Create Retro Hunt Task
                            </button>

                        </form>



                    </div>
                </div>


			</div>
		</div>
	</div>

</body>

<script>
var ltags;
var chart = {};
$(document).ready(function(){
	$('#nav_title_retro_hunt').removeClass("text-muted");

	$('#date-range-from').dateRangePicker({
		separator : ' to ',
		getValue: function(){
				if ($('#date-range-from-input').val() && $('#date-range-to-input').val() )
						return $('#date-range-from-input').val() + ' to ' + $('#date-range-to-input').val();
				else
						return '';
				},
				setValue: function(s,s1,s2){
						$('#date-range-from-input').val(s1);
						$('#date-range-to-input').val(s2);
				}
	});
	$('#date-range-to').dateRangePicker({
			separator : ' to ',
			getValue: function(){
					if ($('#date-range-from-input').val() && $('#date-range-to-input').val() )
							return $('#date-range-from-input').val() + ' to ' + $('#date-range-to-input').val();
					else
							return '';
			},
			setValue: function(s,s1,s2){
					$('#date-range-from-input').val(s1);
					$('#date-range-to-input').val(s2);
			}
	});

	sources_item = $('#sources_item').tagSuggest({
		data: {{items_sources|safe}},
		sortOrder: 'name',
		maxDropHeight: 200,
		name: 'sources_item',
		emptyText: 'Item Sources to track (ALL IF EMPTY)',
		});

    $('#item_obj').on("change", function () {
		item_source_input_controller();
	});
    /*$('#pgp_obj').on("change", function () {
		pgp_source_input_controller();
	});*/


});

function toggle_sidebar(){
	if($('#nav_menu').is(':visible')){
		$('#nav_menu').hide();
		$('#side_menu').removeClass('border-right')
		$('#side_menu').removeClass('col-lg-2')
		$('#core_content').removeClass('col-lg-10')
	}else{
		$('#nav_menu').show();
		$('#side_menu').addClass('border-right')
		$('#side_menu').addClass('col-lg-2')
		$('#core_content').addClass('col-lg-10')
	}
}

function item_source_input_controller() {
	if($('#item_obj').is(':checked')){
		$("#sources_item_div").show();
	}else{
		$("#sources_item_div").hide();
	}
}

function pgp_source_input_controller() {
	if($('#pgp_obj').is(':checked')){
		$("#sources_pgp_div").show();
	}else{
		$("#sources_pgp_div").hide();
	}
}

function get_default_rule_content(selector){
	var yara_name = selector.value
	if (yara_name === "Select a default rule") {
		jQuery("#default_yara_rule_content").text("")
	} else {
		$.getJSON("{{ url_for('hunters.get_default_yara_rule_content') }}?rule=" + yara_name,
			function(data) {
				jQuery("#default_yara_rule_content").text(data['content'])
		});
	}
}

</script>
