      <div class="col-12 col-lg-2 p-0 bg-light border-right" id="side_menu">

      	<button type="button" class="btn btn-outline-secondary mt-1 ml-3" onclick="toggle_sidebar()">
          <i class="fas fa-align-left"></i>
      	  <span>Toggle Sidebar</span>
      	</button>

      	<nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start py-2" id="nav_menu">
      		<h5 class="d-flex text-muted w-100" id="nav_title_trackers">
      		  <span>Trackers </span>
      			<a class="ml-auto" href="{{url_for('hunters.add_tracked_menu')}}">
      				<i class="fas fa-plus-circle fa-fw ml-auto"></i>
      			</a>
      		</h5>
      	  <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
            <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hunters.tracked_menu')}}" id="nav_tracker_">
                <i class="fas fa-ruler-combined fa-fw"></i>
      	        <span>All Trackers</span>
      	      </a>
      	    </li>
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hunters.tracked_menu_word')}}" id="nav_tracker_word">
                <i class="fas fa-font fa-fw"></i>
      	        <span>Words</span>
      	      </a>
      	    </li>
            <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hunters.tracked_menu_set')}}" id="nav_tracker_set">
      	        <i class="fas fa-layer-group fa-fw"></i>
      	        <span>Set</span>
      	      </a>
      	    </li>
            <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hunters.tracked_menu_regex')}}" id="nav_tracker_regex">
      	        <i class="fas fa-drafting-compass fa-fw"></i>
                <span>Regex</span>
      	      </a>
      	    </li>
            <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hunters.tracked_menu_yara')}}" id="nav_tracker_yara">
                <span class="bg-danger text-white font-weight-bold" style="font-size: 120%">&nbsp;{ </span>
                <span>&nbsp;YARA</span>
      	      </a>
      	    </li>
			<li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hunters.tracked_menu_typosquatting')}}" id="nav_tracker_typosquatting">
                <i class="fa fa-clone fa-fw"></i>
                <span>Typo-squatting</span>
      	      </a>
      	    </li>
          </ul>
          <h5 class="d-flex text-muted w-100" id="nav_title_retro_hunt">
      		  <span>Retro Hunt </span>
      			<a class="ml-auto" href="{{url_for('hunters.retro_hunt_add_task')}}">
      				<i class="fas fa-plus-circle fa-fw ml-auto"></i>
      			</a>
      		</h5>
      	  <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
            <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hunters.retro_hunt_all_tasks')}}" id="nav_retro_hunts">
                <i class="fas fa-meteor fa-fw"></i>
      	        <span>Retro Hunt</span>
      	      </a>
      	    </li>
          </ul>
      	</nav>
      </div>
