<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">

	  <title>AIL Framework - AIL</title>
		<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

	  <!-- Core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/daterangepicker.min.css') }}" rel="stylesheet">

	  <!-- JS -->
		<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
		<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap4.min.js')}}"></script>
		<script language="javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
		<script language="javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
		<script language="javascript" src="{{ url_for('static', filename='js/jquery.daterangepicker.min.js') }}"></script>

		<style>
			.line_sparkline {
				fill: none;
				stroke: #000;
				stroke-width: 2.0px;
			}
	    .btn-link {
	      color: #000000
	    }
	    .mouse_pointer{
				cursor: pointer;
			}
	  </style>

	</head>
	<body>

		{% include 'nav_bar.html' %}

		<div class="container-fluid">
			<div class="row">

				{% include 'tracker/menu_sidebar.html' %}

				<div class="col-12 col-lg-10" id="core_content">

					<div class="card my-3">
						<div class="card-header" style="background-color:#d9edf7;font-size: 15px">
							<h4 class="text-secondary">{{ term_metadata['uuid'] }} </h4>
							<ul class="list-group mb-2">
								<li class="list-group-item py-0">
									<div class="row">
										<div class="col-md-10">
											<table class="table">
												<thead>
													<tr>
														<th>Type</th>
														<th>Tracked</th>
														<th>Date added</th>
														<th>Level</th>
														<th>Created by</th>
														<th>First seen</th>
														<th>Last seen</th>
														<th>Tags <span class="btn-link btn-interaction mouse_pointer" title="Edit Tags List" onclick="edit_tags();"><i class="fas fa-pencil-alt" style="color:Red;"></i></span></th>
														<th>Email <span class="btn-link btn-interaction mouse_pointer" title="Edit Email List" onclick="edit_mails();"><i class="fas fa-pencil-alt" style="color:Red;"></i></span></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{ term_metadata['type'] }}</td>
														<td>{{ term_metadata['term'] }}</td>
														<td>{{ term_metadata['date'][0:4] }}/{{ term_metadata['date'][4:6] }}/{{ term_metadata['date'][6:8] }}</td>
														<td>{{ term_metadata['level'] }}</td>
														<td>{{ term_metadata['user_id'] }}</td>
														<td>
															{% if term_metadata['first_seen'] %}
																{{ term_metadata['first_seen'][0:4] }}/{{ term_metadata['first_seen'][4:6] }}/{{ term_metadata['first_seen'][6:8] }}
															{% endif %}
														</td>
														<td>
															{% if term_metadata['last_seen'] %}
																{{ term_metadata['last_seen'][0:4] }}/{{ term_metadata['last_seen'][4:6] }}/{{ term_metadata['last_seen'][6:8] }}
															{% endif %}
														</td>
														<td>
															{% for tag in term_metadata['tags'] %}
				                        <a href="{{ url_for('Tags.Tags_page') }}?ltags={{ tag }}">
				                          <span class="badge badge-{{ bootstrap_label[loop.index0 % 5] }}">{{ tag }}</span>
				                        </a>
			                        {%  endfor %}

														</td>
														<td>
															{% for mail in term_metadata['mails'] %}
				                        {{ mail }}<br>
				                      {%  endfor %}
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-md-1">
											<div id="sparkline"></div>
										</div>
									</div>
								</li>
							</ul>

							<div id="div_edit_tags">
								<form action="{{ url_for('terms.update_tracker_tags') }}" method='post'>
									<input name="uuid" type="text" value="{{term_metadata['uuid']}}" hidden>
									<div>All Tags added for this tracker, space separated: </div>
									<div class="input-group mb-2 mr-sm-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fas fa-tag"></i></div>
										</div>
										<input id="tags" name="tags" class="form-control" placeholder="Tags (optional, space separated)" type="text"
										value="{% for tag in term_metadata['tags'] %}{{tag}} {%  endfor %}">
									</div>

									<button class="btn btn-info">
										<i class="fas fa-pencil-alt"></i> Edit Tags
									</button>
								</form>

							</div>

							<div id="div_edit_mails">
								<form action="{{ url_for('terms.update_tracker_mails') }}" method='post'>
									<input name="uuid" type="text" value="{{term_metadata['uuid']}}" hidden>
									<div>All E-Mails to Notify for this tracker, space separated: </div>
									<div class="input-group mb-2 mr-sm-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fas fa-at"></i></div>
										</div>
										<input id="mails" name="mails" class="form-control" placeholder="E-Mails Notification (optional, space separated)" type="text"
										value="{% for mail in term_metadata['mails'] %}{{mail}} {%  endfor %}">
									</div>

									<button class="btn btn-info">
										<i class="fas fa-pencil-alt"></i> Edit Email Notification
									</button>
								</form>

							</div>

							<a href="{{ url_for('hashDecoded.downloadHash') }}?hash={{hash}}" target="blank" class="float-right" style="font-size: 15px">
								<button class='btn btn-danger'><i class="fas fa-trash-alt"></i>
								</button>
							</a>
						</div>
					</div>


					<div class="card mb-3 mt-1">
						<div class="card-body">

							<div class="row mb-3">
								<div class="col-md-6">
									<div class="input-group" id="date-range-from">
										<div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt" aria-hidden="true"></i></span></div>
										<input class="form-control" id="date-range-from-input" placeholder="yyyy-mm-dd" value="{{ term_metadata['date_from'] }}" name="date_from" autocomplete="off">
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-group" id="date-range-to">
										<div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt" aria-hidden="true"></i></span></div>
										<input class="form-control" id="date-range-to-input" placeholder="yyyy-mm-dd" value="{{ term_metadata['date_to'] }}" name="date_to" autocomplete="off">
									</div>
								</div>
							</div>

							<button class="btn btn-info" type="button" id="button-search-tags" onclick="getItems();">
								<i class="fas fa-search"></i> Search Tracked Items
							</button>

						</div>
					</div>

					{%if term_metadata['items']%}
						<table class="table table-bordered table-hover" id="myTable_">
							<thead class="thead-dark">
								<tr>
									<th>Item</th>
								</tr>
							</thead>
							<tbody>

								{% for item in term_metadata['items'] %}
									<tr>
										<td>
											<a target="_blank" href="{{ url_for('showsavedpastes.showsavedpaste') }}?paste={{item}}">
												<div style="line-height:0.9;">{{ item }}</div>
											</a>
										</td>
									</tr>
								{%  endfor %}

							</tbody>
						</table>
					{% endif %}

				</div>
			</div>
		</div>

<script>
$(document).ready(function(){
		$('#div_edit_mails').hide();
		$('#div_edit_tags').hide();
		$("#page-Decoded").addClass("active");

		$('#date-range-from').dateRangePicker({
			separator : ' to ',
			getValue: function(){
					if ($('#date-range-from-input').val() && $('#date-range-to-input').val() )
							return $('#date-range-from-input').val() + ' to ' + $('#date-range-to-input').val();
					else
							return '';
					},
					setValue: function(s,s1,s2){
							$('#date-range-from-input').val(s1);
							$('#date-range-to-input').val(s2);
					}
		});
		$('#date-range-to').dateRangePicker({
				separator : ' to ',
				getValue: function(){
						if ($('#date-range-from-input').val() && $('#date-range-to-input').val() )
								return $('#date-range-from-input').val() + ' to ' + $('#date-range-to-input').val();
						else
								return '';
				},
				setValue: function(s,s1,s2){
						$('#date-range-from-input').val(s1);
						$('#date-range-to-input').val(s2);
				}
		});

		sparklines("sparkline", {{ term_metadata['sparkline'] }});
});

function toggle_sidebar(){
	if($('#nav_menu').is(':visible')){
		$('#nav_menu').hide();
		$('#side_menu').removeClass('border-right')
		$('#side_menu').removeClass('col-lg-2')
		$('#core_content').removeClass('col-lg-10')
	}else{
		$('#nav_menu').show();
		$('#side_menu').addClass('border-right')
		$('#side_menu').addClass('col-lg-2')
		$('#core_content').addClass('col-lg-10')
	}
}

function edit_tags(){
	$('#div_edit_mails').hide();
	$('#div_edit_tags').show();
}

function edit_mails(){
	$('#div_edit_tags').hide();
	$('#div_edit_mails').show();
}

function getItems() {
	var date_from = $('#date-range-from-input').val();
	var date_to =$('#date-range-to-input').val();
	window.location.replace("{{ url_for('terms.show_term_tracker') }}?uuid={{ term_metadata['uuid'] }}&date_from="+date_from+"&date_to="+date_to);
}

</script>
<script>
//var data = [6,3,3,2,5,3,9];

// a sparklines plot
function sparklines(id, points) {
    var width_spark = 100, height_spark = 60;

    var data = []
    for (i = 0; i < points.length; i++) {
        data[i] = {
            'x': i,
            'y': +points[i]
        }
    }

    var x = d3.scaleLinear()
        .range([0, width_spark - 10])
        .domain([0,5]);

    var y = d3.scaleLinear()
        .range([height_spark, 0])
        .domain([0,10]);

    var line = d3.line()
                .x(function(d) {return x(d.x)})
                .y(function(d) {return y(d.y)});

    d3.select("#"+id).append('svg')
            .attr('width', width_spark)
            .attr('height', height_spark)
         .append('path')
            .attr('class','line_sparkline')
            .datum(data)
            .attr('d', line);

}
</script>




</body>

</html>
