      <div class="col-12 col-lg-2 p-0 bg-light border-right" id="side_menu">

      	<button type="button" class="btn btn-outline-secondary mt-1 ml-3" onclick="toggle_sidebar()">
          <i class="fas fa-align-left"></i>
      	  <span>Toggle Sidebar</span>
      	</button>

      	<nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start py-2" id="nav_menu">
      		<h5 class="d-flex text-muted w-100">
      		  <span>Items Decoded </span>
      		</h5>
      	  <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hashDecoded.hashDecoded_page')}}" id="nav_dashboard">
      	        <i class="fas fa-search"></i>
      	        <span>Dashboard</span>
      	      </a>
      	    </li>
          </ul>
          <h5 class="d-flex text-muted w-100">
      		  <span>PGP Dumps</span>
      		</h5>
      	  <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hashDecoded.pgpdump_page')}}" id="nav_dashboard_pgpdump">
      	        <i class="fas fa-key"></i>
      	        <span>PGP Dumps</span>
      	      </a>
      	    </li>
          </ul>
          <h5 class="d-flex text-muted w-100">
      		  <span>Cryptocurrency</span>
      		</h5>
      	  <ul class="nav flex-md-column flex-row navbar-nav justify-content-between w-100"> <!--nav-pills-->
      	    <li class="nav-item">
      	      <a class="nav-link" href="{{url_for('hashDecoded.cryptocurrency_page')}}" id="nav_dashboard_cryptocurrency">
      	        <i class="fas fa-coins"></i>
      	        <span>Cryptocurrency</span>
      	      </a>
      	    </li>
          </ul>
      	</nav>
      </div>
