									<ul class="list-group">
  									<li class="list-group-item list-group-item-info"><i class="fas fa-info-circle fa-2x"></i></li>
  									<li class="list-group-item text-left">
  									  <p>Double click on a node to open Cryptocurrency/Paste<br><br>
  									    <svg height="12" width="12"><g class="nodes"><circle cx="6" cy="6" r="6" fill="orange"></circle></g></svg>
  									    Current Cryptocurrency<br>
  									    <svg height="12" width="12"><g class="nodes"><circle cx="6" cy="6" r="6" fill="rgb(141, 211, 199)"></circle></g></svg>
									      Cryptocurrency<br>
  									    <svg height="12" width="12"><g class="nodes"><circle cx="6" cy="6" r="6" fill="#1f77b4"></circle></g></svg>
  									    Pastes
  									  </p>
  									</li>
  									<li class="list-group-item list-group-item-info">
									    Cryptocurrency Types:
									  </li>
  									<li class="list-group-item text-left">
									    <i class="fab fa-btc"></i>  Bitcoin<br>
									    <i class="fab fa-monero"></i>  Monero<br>
									  </li>
									</ul>
