                          <div class="input-group custom-search-form">
                              <form action="{{ url_for('searches.search') }}" id="form-search" method=POST>
                                <input type="text" name="query" class="form-control" placeholder="Search Paste">
                                <input type="hidden" name="index_name" class="form-control" value="0" placeholder="Index Name">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <img id="loading-gif" src="{{url_for('static', filename='image/loading.gif') }}" height="26" width="26" style="margin: 4px; visibility: hidden;">
                              </form>
                          </span>
                          </div>
                          <script>
                              $("#form-search").submit(function( event ) {
                                  $("#loading-gif").css("visibility", "visible");
                              });
                          </script>
