.hg-text{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.15em;
    padding-left: 0.15em;
    background-color: #2e5;
}

.blue {
    color: #0088cc !important;
}

.bold {
    font-weight: bold;
}

.object_node_icon {
    font-size: 16px;
    pointer-events: none;
}

.text-collapse {
  overflow: hidden;
  display: block;
  max-height: 3em;
  line-height: 1.5em;
  transition: max-height 0.3s ease-in-out;
}
