<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <title>Show Domain - AIL</title>

	  <!-- Core CSS -->
	  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='css/dygraph_gallery.css') }}" rel="stylesheet" type="text/css" />
	  <!-- JS -->
	  <script type="text/javascript" src="{{ url_for('static', filename='js/dygraph-combined.js') }}"></script>
	  <script language="javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
		<script src="/static//js/jquery.dataTables.min.js"></script>
		<script src="/static//js/dataTables.bootstrap.js"></script>

		<style>
	      .test thead{
	      	background: #d91f2d;
		      color: #fff;
	      }
	  </style>

	</head>
	<body>

            {% include 'navbar.html' %}

            <div id="page-wrapper">

				<div class="row">

					<div class="col-md-6">
						<div class="row">
							<div class="row">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i id="flash-tld" class="glyphicon glyphicon-flash " flash-tld=""></i> Graph
								</div>

										<table class="table table-hover table-striped">
											<tbody>
												<tr>
													<td>Domain</td>
													<td>{{ domain }}</td>
												</tr>
												<tr>
													<td>First Seen</td>
													<td>{{ first_seen }}</td>
												</tr>
												<tr>
													<td>Last Check</td>
													<td>{{ last_check }}</td>
												</tr>
												<tr>
													<td>Origin Paste</td>
													<td>
														<a target="_blank" href="{{ url_for('showsavedpastes.showsavedpaste', paste=domain_paste) }}" />{{ domain_paste }}</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
							</div>

								<table class="test table table-striped table-bordered table-hover table-responsive " id="myTable_">
						      <thead>
						        <tr>
						          <th style="max-width: 800px;">Crawled Pastes</th>
						        </tr>
						      </thead>
						      <tbody>

						        {% for path in l_pastes %}
						          <tr>
						              <td><a target="_blank" href="{{ url_for('showsavedpastes.showsavedpaste') }}?paste={{path}}">{{ path_name[loop.index0] }}</a>
						                <div>
						                  {% for tag in paste_tags[loop.index0] %}
						                  <a href="{{ url_for('Tags.get_tagged_paste') }}?ltags={{ tag[1] }}">
						                    <span class="label label-{{ bootstrap_label[loop.index0 % 5] }} pull-left">{{ tag[0] }}</span>
						                  </a>
						                  {%  endfor %}
						                </div>
						              </td>
						          </tr>
						        {%  endfor %}

						      </tbody>
						    </table>

						</div>
					</div>

					<div class="col-md-6">
						<img src="{{ url_for('showsavedpastes.screenshot', filename=screenshot) }}" onError="this.onerror=null;this.src='{{ url_for('static', filename='image/AIL.png') }}';" style="width:100%;" />
					</div>

				</div>

            </div>
            <!-- /#page-wrapper -->

            <script>
                $(document).ready(function(){
                    activePage = "page-hiddenServices"
                    $("#"+activePage).addClass("active");
										table = $('#myTable_').DataTable(
											{
												"aLengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
												"iDisplayLength": 5,
												"order": [[ 0, "desc" ]]
											}
										);
                });
            </script>

        </body>

</html>
