[Unit]
Description=AIL-Framework: Flask service
Requires=ail-redis.service ail-scripts.service
After=ail-redis.service ail-scripts.service

[Service]
User=ail
Group=ail
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash -c "/opt/AIL-scripts/startFlask.sh"
[Install]
WantedBy=reboot.target
