<!DOCTYPE html>
<html>

<head>
  <title>Tags - AIL</title>
	<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

  <!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/daterangepicker.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/tags.css') }}" rel="stylesheet" type="text/css" />

  <!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap4.min.js')}}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/jquery.daterangepicker.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tags.js') }}"></script>

</head>
<body>

  {% include 'nav_bar.html' %}

	<div class="container-fluid">
		<div class="row">

			{% include 'tags/menu_sidebar.html' %}

			<div class="col-12 col-lg-10" id="core_content">

				<div class="card mb-3 mt-1">
					<div class="card-header text-white bg-dark">
						<h5 class="card-title">Search Tags by date range :</h5>
					</div>
					<div class="card-body">

						<div class="row mb-3">
							<div class="col-md-6">
								<div class="input-group" id="date-range-from">
									<div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt" aria-hidden="true"></i></span></div>
									<input class="form-control" id="date-range-from-input" placeholder="yyyy-mm-dd" value="{{ date_from }}" name="date_from" autocomplete="off">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group" id="date-range-to">
									<div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt" aria-hidden="true"></i></span></div>
									<input class="form-control" id="date-range-to-input" placeholder="yyyy-mm-dd" value="{{ date_to }}" name="date_to" autocomplete="off">
								</div>
							</div>
						</div>

						<div class="input-group mb-3">
						  <div class="input-group-prepend">
								<button class="btn btn-outline-danger" type="button" id="button-clear-tags" style="z-index: 1;" onclick="emptyTags()">
									<i class="fas fa-eraser"></i>
								</button>
						  </div>
							<input id="ltags" name="ltags" type="text" class="form-control" aria-describedby="button-clear-tags" autocomplete="off">
						</div>

						<button class="btn btn-primary" type="button" id="button-search-tags" onclick="searchTags()">
							<i class="fas fa-search"></i> Search Tags
						</button>

					</div>
				</div>

				<div>
					<br></br>
					<a class="btn btn-light text-secondary" href="{{ url_for('Tags.taxonomies') }}" target="_blank">
							<i class="fas fa-wrench fa-2x"></i>
							<br></br>
							<span class="label-icon">Edit Taxonomies List </span>
					</a>
					<a class="btn btn-light text-secondary" href="{{ url_for('Tags.galaxies') }}" target="_blank">
							<i class="fas fa-rocket fa-2x"></i>
							<br></br>
							<span class="label-icon">Edit Galaxies List</span>
					</a>
				</div>

				<div>
					<br></br>
					<a class="btn btn-light text-secondary" href="{{ url_for('PasteSubmit.edit_tag_export') }}" target="_blank">
							<i class="fas fa-cogs fa-2x"></i>
							<br></br>
							<span class="label-icon">MISP and Hive, auto push</span>
					</a>
				</div>

    	</div>
		</div>
	</div>

</body>

<script>
var ltags
$(document).ready(function(){
	$("#page-Browse-Items").addClass("active");

	$.getJSON("{{ url_for('Tags.get_all_tags') }}",
  function(data) {
    ltags = $('#ltags').tagSuggest({
      data: data,
      sortOrder: 'name',
      maxDropHeight: 200,
      name: 'ltags'
    });
  });

	$('#date-range-from').dateRangePicker({
			separator : ' to ',
			getValue: function(){
					if ($('#date-range-from-input').val() && $('#date-range-to-input').val() )
							return $('#date-range-from-input').val() + ' to ' + $('#date-range-to-input').val();
					else
							return '';
					},
					setValue: function(s,s1,s2){
							$('#date-range-from-input').val(s1);
							$('#date-range-to-input').val(s2);
					}
	});
	$('#date-range-to').dateRangePicker({
			separator : ' to ',
			getValue: function(){
					if ($('#date-range-from-input').val() && $('#date-range-to-input').val() )
							return $('#date-range-from-input').val() + ' to ' + $('#date-range-to-input').val();
					else
							return '';
			},
			setValue: function(s,s1,s2){
					$('#date-range-from-input').val(s1);
					$('#date-range-to-input').val(s2);
			}
	});
});
</script>

<script>
function searchTags() {
	var data = ltags.getValue();
	window.location.replace("{{ url_for('Tags.get_tagged_paste') }}?ltags=" + data);
}
function emptyTags() {
	ltags.clear();
}

function toggle_sidebar(){
	if($('#nav_menu').is(':visible')){
		$('#nav_menu').hide();
		$('#side_menu').removeClass('border-right')
		$('#side_menu').removeClass('col-lg-2')
		$('#core_content').removeClass('col-lg-10')
	}else{
		$('#nav_menu').show();
		$('#side_menu').addClass('border-right')
		$('#side_menu').addClass('col-lg-2')
		$('#core_content').addClass('col-lg-10')
	}
}
</script>

</html>
