<table class="table table-bordered">
	<thead>
		<tr class="table-info"">
										<th>
											Cryptocurrency:
										</th>
										<th class="">
											Decoded:
										</th>
										<th class="">
											Objects:
										</th>
										<th class="">
											Pgp:
										</th>
										<th class="">
											Username:
										</th>
										<th class="">
											Domain:
										</th>
										<th class="">
											Item:
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class=" my-1">
			<svg height="26" width="26">
				<g class="nodes">
					<circle cx="13" cy="13" r="13" fill="#DDCC77"></circle>
					<text x="13" y="13" text-anchor="middle" dominant-baseline="central" class="graph_node_icon fab"
						font-size="16px">&#xf15a;</text>
				</g>
			</svg>
			bitcoin
			</div>
			<div class="my-1">
				<svg height="26" width="26">
					<g class="nodes">
						<circle cx="13" cy="13" r="13" fill="#DDCC77"></circle>
						<text x="13" y="13" text-anchor="middle" dominant-baseline="central" class="graph_node_icon fab"
							font-size="16px">&#xf3d0;</text>
					</g>
				</svg>
				monero
			</div>
			<div class="my-1">
				<svg height="26" width="26">
					<g class="nodes">
						<circle cx="13" cy="13" r="13" fill="#DDCC77"></circle>
						<text x="13" y="13" text-anchor="middle" dominant-baseline="central" class="graph_node_icon fab"
							font-size="16px">&#xf42e;</text>
					</g>
				</svg>
				etherum
			</div>
			<div>
				<svg height="26" width="26">
					<g class="nodes">
						<circle cx="13" cy="13" r="13" fill="#DDCC77"></circle>
						<text x="13" y="13" text-anchor="middle" dominant-baseline="central" class="graph_node_icon fas"
							font-size="16px">&#xf51e;</text>
					</g>
				</svg>
				other cryptocurrencies
			</div>
			</td>
			<td>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#88CCEE"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf15b;</text>
						</g>
					</svg>
					application
				</div>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#88CCEE"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf1c7;</text>
						</g>
					</svg>
					audio
				</div>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#88CCEE"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf15c;</text>
						</g>
					</svg>
					text
				</div>
				<div>
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#88CCEE"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf249;</text>
						</g>
					</svg>
					other types of file
				</div>
			</td>
			<td>
                <div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#BFD677"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf564;</text>
						</g>
					</svg>
					cookie-name
				</div>
                <div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#1E88E5"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf188;</text>
						</g>
					</svg>
					cve
				</div>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#E1F5DF"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf03e;</text>
						</g>
					</svg>
					screenshot
				</div>
                <div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#3C7CFF"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf1dc;</text>
						</g>
					</svg>
					title
				</div>
			</td>
			<td>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#44AA99"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf084;</text>
						</g>
					</svg>
					key
				</div>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#44AA99"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf507;</text>
						</g>
					</svg>
					name
				</div>
				<div>
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#44AA99"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf1fa;</text>
						</g>
					</svg>
					mail
				</div>
			</td>
			<td>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#4dffff"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fab" font-size="16px">&#xf2c6;</text>
						</g>
					</svg>
					telegram
				</div>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#4dffff"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fab" font-size="16px">&#xf099;</text>
						</g>
					</svg>
					twitter
				</div>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#4dffff"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fa" font-size="16px">&#xf007;</text>
						</g>
					</svg>
					jabber
				</div>
			</td>
			<td>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#3DA760"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fas" font-size="16px">&#xf06e;</text>
						</g>
					</svg>
					onion
				</div>
				<div>
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#3DA760"></circle>
							<text x="13" y="13" text-anchor="middle" dominant-baseline="central"
								class="graph_node_icon fab" font-size="16px">&#xf13b;</text>
						</g>
					</svg>
					web
				</div>
			</td>
			<td>
				<div class="my-1">
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="red"></circle>
						</g>
					</svg>
					crawled
				</div>
				<div>
					<svg height="26" width="26">
						<g class="nodes">
							<circle cx="13" cy="13" r="13" fill="#332288"></circle>
						</g>
					</svg>
					other
				</div>
			</td>
		</tr>
		</tbody>
</table>