<div class="card my-3">
	<div class="card-header" style="background-color:#d9edf7;font-size: 15px">
		<h4 class="text-secondary">{{ dict_object["correlation_id"] }} :</h4>
		<ul class="list-group mb-2">
			<li class="list-group-item py-0">
				<table class="table">
					<thead>
						<tr>
							<th>Object type</th>
							<th>type</th>
							<th>First seen</th>
							<th>Last check</th>
							<th>Port</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ dict_object["object_type"] }}</td>
							<td>
								<svg height="26" width="26">
									<g class="nodes">
										<circle cx="13" cy="13" r="13" fill="orange"></circle>
										<text x="13" y="13" text-anchor="middle" dominant-baseline="central" class="{{ dict_object["metadata_card"]["svg_icon"]["style"] }}" font-size="16px">{{ dict_object["metadata_card"]["svg_icon"]["icon"] }}</text>
									</g>
								</svg>
								{{ dict_object["metadata"]["type_id"] }}
							</td>
							<td>{{ dict_object["metadata"]['first_seen'] }}</td>
							<td>{{ dict_object["metadata"]['last_check'] }}</td>
							<td>{{ dict_object["metadata"]['ports'] }}</td>
							<td>
								{% if dict_object["metadata"]["status"] %}
									<div style="color:Green;">
										<i class="fas fa-check-circle fa-2x"></i>
										UP
									</div>
								{% else %}
									<div style="color:Red;">
										<i class="fas fa-times-circle fa-2x"></i>
										DOWN
									</div>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</li>

			<li class="list-group-item py-0">
				<br>
				<div class="mb-3">
					Tags:
					{% for tag in dict_object["metadata_card"]['tags'] %}
						<span class="badge badge-{{ bootstrap_label[loop.index0 % 5] }}">{{ tag }}</span>
					{%  endfor %}
				</div>
				<div class="mb-2 float-right">
					<a href="{{ url_for('crawler_splash.showDomain')}}?domain={{ dict_object["correlation_id"] }}" target="_blank" style="font-size: 15px">
						<button class="btn btn-info"><i class="fas fa-search"></i> Show Domain
						</button>
					</a>
				</div>

			</li>
		</ul>

		{% with obj_type='domain', obj_id=dict_object['correlation_id'], obj_subtype='' %}
			{% include 'modals/investigations_register_obj.html' %}
		{% endwith %}
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#investigations_register_obj_modal">
			<i class="fas fa-microscope"></i> Investigations
		</button>

	</div>
</div>
