<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <title>Analysis Information Leak framework Dashboard</title>

	  <!-- Core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
	  <!-- JS -->
		<script language="javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.stack.js') }}"></script>
		<script language="javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
		<style>
			.red_table thead{
				background: #d91f2d;
				color: #fff;
			}
      .bar_stack:hover{
        fill: brown;
      }

      .bar_stack span {
          position: relative;
      }

			.svgText {
    		pointer-events: none;
			}
		</style>
	</head>
	<body>

            <div id="page-wrapper">
				<div class="row">
				  <div class="col-lg-12">
				  <h1 class="page-header" data-page="page-termsfrequency" >Base64 Files</h1>
				  </div>
				  <!-- /.col-lg-12 -->

          <div id="chart">
          </div>

				</div>
				<!-- /.row -->

            <script>
								var VIZ = {};
                $(document).ready(function(){
                    activePage = "page-base64Decoded"
                    $("#"+activePage).addClass("active");

										VIZ.stackBarChart = barchart_type('url', 'id')
										VIZ.onResize();
                });
								$(window).on("resize", function() {
									VIZ.onResize();
								});
            </script>

<script>
var margin = {top: 20, right: 55, bottom: 30, left: 40},
				width  = 1000 - margin.left - margin.right,
				height = 500  - margin.top  - margin.bottom;
var x = d3.scaleBand().rangeRound([0, width]).padding(0.1);

var y = d3.scaleLinear().rangeRound([height, 0]);

var xAxis = d3.axisBottom(x);

var yAxis = d3.axisLeft(y);

var color = d3.scaleOrdinal(d3.schemeSet3);

var svg = d3.select("#chart").append("svg")
				.attr("id", "thesvg")
				.attr("viewBox", "0 0 1000 500")
				.attr("width",  width  + margin.left + margin.right)
				.attr("height", height + margin.top  + margin.bottom)
			.append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

function barchart_type(url, id) {

  /*var stack = d3.stack()
          stack.values(function (d) { return d.values; })
					.offset("zero")
          .x(function (d) { return x(d.label); })
          .y(function (d) { return d.value; });*/

  /*var area = d3.svg.area()
          .interpolate("cardinal")
          .x(function (d) { return x(d.label); })
          .y0(function (d) { return y(d.y0); })
          .y1(function (d) { return y(d.y0 + d.y); });*/

			//var color = d3.scale.ordinal().range(["#001c9c","#101b4d","#475003","#9c8305","#d3c47c"]);

  d3.json("/base64Decoded/range_type_json")
    .then(function(data){

			var labelVar = 'date';  //A
		  var varNames = d3.keys(data[0])
		      .filter(function (key) { return key !== labelVar;}); //B

		  data.forEach(function (d) { //D
		    var y0 = 0;
		    d.mapping = varNames.map(function (name) {
		      return {
		        name: name,
		        label: d[labelVar],
		        y0: y0,
		        y1: y0 += +d[name]
		      };
		    });
		    d.total = d.mapping[d.mapping.length - 1].y1;
		  });

		  x.domain(data.map(function (d) { return (d.date).substring(5); })); //E
		  y.domain([0, d3.max(data, function (d) { return d.total; })]);

			svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
				.selectAll("text")
					.style("text-anchor", "end")
					.attr("transform", "rotate(-45)" );

    	svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      	.append("text")
        	.attr("transform", "rotate(-90)")
        	.attr("y", 6)
        	.attr("dy", ".71em")
        	.style("text-anchor", "end");

			var selection = svg.selectAll(".series")
		    .data(data)
		    .enter().append("g")
		      .attr("class", "series")
		      .attr("transform", function (d) { return "translate(" + x((d.date).substring(5)) + ",0)"; });

			selection.selectAll("rect")
	      .data(function (d) { return d.mapping; })
	    .enter().append("rect")
				.attr("class", "bar_stack")
	      .attr("width", x.bandwidth())
	      .attr("y", function (d) { return y(d.y1); })
	      .attr("height", function (d) { return y(d.y0) - y(d.y1); })
	      .style("fill", function (d) { return color(d.name); })
	      .style("stroke", "grey")
	      .on("mouseover", function (d) { showPopover.call(this, d); })
				.on("mouseout", function (d) { removePopovers(); })
				.on("click", function(d){ window.location.href = "/base64Decoded/" +'?type='+ d.name +'&date_from='+d.label+'&date_to='+d.label; });

			drawLegend(varNames);
    });

}

function drawLegend (varNames) {
    var legend = svg.selectAll(".legend")
        .data(varNames.slice().reverse())
      .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
        .attr("x", 152)
        .attr("width", 10)
        .attr("height", 10)
        .style("fill", color)
        .style("stroke", "grey");

    legend.append("text")
				.attr("class", "svgText")
        .attr("x", 150)
        .attr("y", 6)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function (d) { return d; });
}

function removePopovers () {
    $('.popover').each(function() {
      $(this).remove();
    });
  }

function showPopover (d) {
  $(this).popover({
    title: d.name,
    placement: 'auto top',
    container: 'body',
    trigger: 'manual',
    html : true,
    content: function() {
      return "date: " + d.label +
            "<br/>num: " + d3.format(",")(d.value ? d.value: d.y1 - d.y0); }
  });
  $(this).popover('show')
}

VIZ.onResize = function () {
    var aspect = 1000 / 500, chart = $("#thesvg");
    var targetWidth = chart.parent().width();
    chart.attr("width", targetWidth);
    chart.attr("height", targetWidth / aspect);
  }

window.VIZ = VIZ;

</script>

        </body>

</html>
