<div id="create_hive_case_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div id="create_hive_case_modal_content" class="modal-content">
            <div class="modal-header justify-content-center">
                <img id="hive-logo" src="{{url_for('static', filename='image/thehive-logo.png') }}" width="500" >
            </div>

            <form method="post" action="{{ url_for('import_export.create_thehive_case') }}" target="_blank">

                <div class="modal-body">

                    <div class="input clear required">
                        <label for="EventThreatLevelId">Threat Level</label>
                        <select name="threat_level_hive" id="EventThreatLevelId" required="required">
                            <option value="1">High</option>
                            <option value="2" selected="selected">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
                    <div class="input select required">
                        <label for="hive_tlp">TLP</label>
                        <select name="hive_tlp" id="hive_tlp" required="required" class="selectpicker">
                            <option value="0">White</option>
                            <option value="1">Green</option>
                            <option value="2" selected="selected">Amber</option>
                            <option value="3">Red</option>
                        </select>
                    </div>
                    <div class="clear">
                        <label for="hive_case_title">Title</label>
                        <input name="hive_case_title" class="form-control span6" placeholder="Title" type="text" id="hive_case_title"/>
                    </div>
                    <div class="clear">
                        <label for="hive_description">Description</label>
                        <input name="hive_description" class="form-control span6" placeholder="Quick Case Description" type="text" id="hive_description"/>
                    </div>
                    <input type="hidden" id="obj_type" name="obj_type" value="item">
                    <input type="hidden" id="obj_id" name="obj_id" value="{{ dict_item['id'] }}">
                </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus"></i>
                    Create Case
                </button>

                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            </div>

            </form>

        </div>
    </div>
</div>
