    <div class="card border-secondary">
        <div class="card-body py-2">
            <form action="{{ translate_url }}" method='post'>
                <input type="text" name="id" value="{{obj_id}}" hidden>
                <div class="row">
                    <div class="col-md-3 text-center px-0 pt-1">
                        {% if translation_name %}
                            <b>{{ translation_name }}</b>
                        {% else %}
                            Translation
                        {% endif %}
                    </div>
                    <div class="col-md-3 text-center pl-0 pt-1">
                        Source:
                        <select id="source" name="source" class="form-select" aria-label="Language Source">
                            {% if not translation_target or translation_target == "Don't Translate" %}
                                <option selected>Don't Translate</option>
                            {% else %}
                                <option selected value="{{ translation_target }}">{{ translation_target }}</option>
                                <option>Don't Translate</option>
                            {% endif %}
                            {% for language in translation_languages %}
                                <option value="{{ language }}">{{ translation_languages[language] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 text-center pl-0 pt-1">
                        Target:
                        <select id="target" name="target" class="form-select" aria-label="Language Target">
                            {% if not translation_target or translation_target == "Don't Translate" %}
                                <option selected>Don't Translate</option>
                            {% else %}
                                <option selected value="{{ translation_target }}">{{ translation_target }}</option>
                                <option>Don't Translate</option>
                            {% endif %}
                            {% for language in translation_languages %}
                                <option value="{{ language }}">{{ translation_languages[language] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fas fa-language"></i>
                            <span class="label-icon">Translate</span>
                        </button>
                    </div>
                </div>
            </form>
            {% if translated %}
                <hr class="my-1">
                <div>
                    {% if translated['translated'] %}
                        <h6 class="mt-1">Translated:</h6>
                        {% for target in translated['translated'] %}
                            <span class="mr-2">
                                <a target="_blank" href="{{ url_for('objects_pdf.pdf_translated', filename=translated['translated'][target]) }}">
                                    <button class="btn btn-sm btn-dark"><i class="far fa-file-pdf fa-border bg-white" style="color: Red;--fa-border-color: inherit;"></i> {{ target }}</button>
                                </a>
                            </span>
                        {% endfor %}
                    {% endif %}
                    {% if translated['task'] %}
                        <h6 class="mt-1">Translation Progress:</h6>
                        <div>
                        {% for task_uuid in translated['task'] %}
                            <span class="mr-2 d-inline-flex py-1">
                                {{ translated['task'][task_uuid]['target'] }}
                                <span class="progress mt-1" style="width: 200px">
                                    <span class="progress-bar" id="tr_progress_{{ task_uuid }}" role="progressbar" style="width: {{ translated['task'][task_uuid]['progress'] }}%;" aria-valuenow="{{ translated['task'][task_uuid]['progress'] }}" aria-valuemin="0" aria-valuemax="100">{{ translated['task'][task_uuid]['progress'] }} %</span>
                                </span>
                                <a href="{{ url_for('objects_pdf.pdf_translate_task_delete', uuid=task_uuid) }}">
                                    <button class="btn btn-sm btn-outline-danger px-1 py-0"><i class="fas fa-trash-can"></i></button>
                                </a>
                            </span>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>