
<form action="{{ translate_url }}" method='post'>
    <input type="text" name="id" value="{{obj_id}}" hidden>
    <div class="card border-secondary">
        <div class="card-body py-2">
            <div class="row">
                <div class="col-md-3 text-center px-0 pt-1">
                    {% if translation_name %}
                        {{ translation_name }}
                    {% else %}
                        Translation
                    {% endif %}
                </div>
                <div class="col-md-3 text-center pl-0 pt-1">
                    Source:
                    <select id="source" name="source" class="form-select" aria-label="Language Source">
                        {% if not translation_target or translation_target == "Don't Translate" %}
                            <option selected>Don't Translate</option>
                        {% else %}
                            <option selected value="{{ translation_target }}">{{ translation_target }}</option>
                            <option>Don't Translate</option>
                        {% endif %}
                        {% for language in translation_languages %}
                            <option value="{{ language }}">{{ translation_languages[language] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 text-center pl-0 pt-1">
                    Target:
                    <select id="target" name="target" class="form-select" aria-label="Language Target">
                        {% if not translation_target or translation_target == "Don't Translate" %}
                            <option selected>Don't Translate</option>
                        {% else %}
                            <option selected value="{{ translation_target }}">{{ translation_target }}</option>
                            <option>Don't Translate</option>
                        {% endif %}
                        {% for language in translation_languages %}
                            <option value="{{ language }}">{{ translation_languages[language] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 text-center">
                    <button class="btn btn-sm btn-primary" type="submit">
                        <i class="fas fa-language"></i>
                        <span class="label-icon">Translate</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>