<!DOCTYPE html>
<html>

<head>
  <title>Chats Protocols - AIL</title>
	<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

  <!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

  <!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap4.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

</head>
<body>

	{% include 'nav_bar.html' %}

	<div class="container-fluid">
		<div class="row">

			{% include 'sidebars/sidebar_objects.html' %}

			<div class="col-12 col-lg-10" id="core_content">

                <h1 class="m-2"><i class="fas fa-comments"></i> Chats Protocols:</h1>

                {% if protocols %}
                    <div class="d-flex justify-content-around my-2">
                        {% for meta in protocols %}
                            <a class="btn btn-light border-secondary" style="" href="{{ url_for('chats_explorer.chats_explorer_networks') }}?protocol={{ meta['id'] }}">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {% if meta['icon'] %}
                                            <i class="{{ meta['icon']['style'] }} {{ meta['icon']['icon'] }}"></i>
                                        {% endif %}
                                        <b>{{ meta['id'] }}</b>
                                    </h4>
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                {% else %}
                    <h4>No Protocol/Chats Imported</h4>
                {% endif %}

                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="text-center">
{#                    <img src="{{ url_for('static', filename='image/tm.png') }}" style="max-width: 400px">#}
                    <div>
                        <a class="btn btn-light border-secondary" style="" href="{{ url_for('chats_explorer.chat_monitoring_request') }}">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <img src="{{ url_for('static', filename='image/tm.png') }}" style="max-width: 200px">
                                        <b>Request Chat Monitoring</b>
                                    </h4>
                                </div>
                            </a>
                    </div>
                </div>

                <br>
                <br>
                {% with subtypes=username_subtypes %}
                    {% include 'username/block_usernames_search.html' %}
                {% endwith %}

            </div>

        </div>
    </div>

<script>
    $(document).ready(function(){
        $("#page-Decoded").addClass("active");
        $("#nav_explorer_chat").addClass("active");
  });

function toggle_sidebar(){
	if($('#nav_menu').is(':visible')){
		$('#nav_menu').hide();
		$('#side_menu').removeClass('border-right')
		$('#side_menu').removeClass('col-lg-2')
		$('#core_content').removeClass('col-lg-10')
	}else{
		$('#nav_menu').show();
		$('#side_menu').addClass('border-right')
		$('#side_menu').addClass('col-lg-2')
		$('#core_content').addClass('col-lg-10')
	}
}
</script>

</body>

</html>
