<!DOCTYPE html>
<html>

<head>
  <title>Chat - AIL</title>
	<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

  <!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

  <!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap4.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3/heatmap_week_hour.js')}}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>

    <style>
        .chat-message-left,
        .chat-message-right {
            display: flex;
            flex-shrink: 0;
        }
        .chat-message-right {
            flex-direction: row-reverse;
            margin-left: auto
        }
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 2px;
            background: #eee;
        }
        .message_image {
            max-width: 50%;
            filter: blur(5px);
        }
	</style>

</head>
<body>

	{% include 'nav_bar.html' %}

	<div class="container-fluid">
		<div class="row">

			{% include 'sidebars/sidebar_objects.html' %}

			<div class="col-12 col-lg-10" id="core_content">

                {% with meta=chat %}
                    {% include 'chats_explorer/card_chat.html' %}
                {% endwith %}

                {% if chat['subchannels'] %}
                    <h4 class="mt-2">Sub-Channels:</h4>
                    <table id="tablesubchannels" class="table">
                        <thead class="bg-dark text-white">
                        <tr>
                            <th>Icon</th>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Created at</th>
                            <th>First Seen</th>
                            <th>Last Seen</th>
                            <th><i class="fas fa-comment-dots"></i></th>
                        </tr>
                        </thead>
                        <tbody style="font-size: 15px;">
                        {% for meta in chat["subchannels"] %}
                            <tr>
                                <td>
                                   <img src="{{ url_for('static', filename='image/ail-icon.png') }}" class="rounded-circle mr-1" alt="{{ meta['id'] }}" width="40" height="40">
                                </td>
                                <td>
                                    <b>{{ meta['name'] }}</b>
                                    {% if meta['translation_name'] %}
                                        <div class="text-secondary">{{ meta['translation_name'] }}</div>
                                    {% endif %}
                                </td>
                                <td><a href="{{ url_for('chats_explorer.objects_subchannel_messages') }}?subtype={{ meta['subtype'] }}&id={{ meta['id'] }}">{{ meta['id'] }}</a></td>
                                <td>{{ meta['created_at'] }}</td>
                                <td>
                                    {% if meta['first_seen'] %}
                                        {{ meta['first_seen'][0:4] }}-{{ meta['first_seen'][4:6] }}-{{ meta['first_seen'][6:8] }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if meta['last_seen'] %}
                                        {{ meta['last_seen'][0:4] }}-{{ meta['last_seen'][4:6] }}-{{ meta['last_seen'][6:8] }}
                                    {% endif %}
                                </td>
                                <td>{{ meta['nb_messages'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}

                <h5 class="mx-5 mt-2 text-secondary">All Messages:</h5>
                <div id="heatmapweekhourall"></div>

                {% if not chat['subchannels'] %}
                    <h5 class="mx-5 text-secondary">This week:</h5>
                    <div id="heatmapweekhour"></div>
                {% endif %}

                <h5>Messages by year:</h5>
                <div>
                    <div class="row">
                        <div class="col-12 col-lg-11">
                            <div id="heatmapyear" style="width: 100%;height: 250px;"></div>
                        </div>
                        <div class="col-12 col-lg-1">
                            {% for year in chat['years'] %}
                                <div><button class="btn btn-info mt-1" onclick="update_heatmap_year({{ year }})">{{ year }}</button></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <h5>Languages:</h5>
                <div id="langpie" style="width: 100%;height: 300px;"></div>
                {% include 'chats_explorer/block_language_stats.html' %}

                {% with translate_url=url_for('chats_explorer.chats_explorer_chat', subtype=chat['subtype']), obj_id=chat['id'], pagination=chat['pagination'] %}
                    {% include 'chats_explorer/block_translation.html' %}
                {% endwith %}

                {% if chat['messages'] %}

                    <span class="mt-3">
                        {% include 'objects/image/block_blur_img_slider.html' %}
                    </span>

                    {% with obj_subtype=chat['subtype'], obj_id=chat['id'], url_endpoint=url_for("chats_explorer.chats_explorer_chat"), nb=chat['pagination']['nb']  %}
                        {% set date_from=chat['first_seen'] %}
                        {% set date_to=chat['last_seen'] %}
                        {% include 'block_obj_time_search.html' %}
                    {% endwith %}
                    {% with endpoint_url=url_for('chats_explorer.chats_explorer_chat', subtype=chat['subtype']), pagination=chat['pagination'] %}
                        {% set endpoint_url = endpoint_url + "&id=" + chat['id'] + "&nb=" + chat['pagination']['nb'] | string %}
                        {% if translation_target %}
                            {% set endpoint_url = endpoint_url + "&target=" + translation_target %}
                        {% endif %}
                        {% include 'chats_explorer/pagination.html' %}
                    {% endwith %}

                    <div class="position-relative">
                        <div class="chat-messages p-2">

                            {% for date in chat['messages'] %}

                                <div class="divider d-flex align-items-center mb-4">
                                    <p class="text-center h2 mx-3 mb-0" style="color: #a2aab7;">
                                        <span class="badge badge-secondary mb-2" id="date_section_{{ date }}">{{ date }}</span>
                                    </p>
                                </div>

                                {% for mess in chat['messages'][date] %}

                                    {% with message=mess %}
                                        {% include 'chats_explorer/block_message.html' %}
                                    {% endwith %}

                                {% endfor %}
                                <br>
                            {% endfor %}

                        </div>
                    </div>

                    {% with endpoint_url=url_for('chats_explorer.chats_explorer_chat', subtype=chat['subtype']), pagination=chat['pagination'] %}
                        {% set endpoint_url = endpoint_url + "&id=" + chat['id'] + "&nb=" + chat['pagination']['nb'] | string %}
                        {% if translation_target %}
                            {% set endpoint_url = endpoint_url + "&target=" + translation_target %}
                        {% endif %}
                        {% include 'chats_explorer/pagination.html' %}
                    {% endwith %}

                {% endif %}

            </div>

        </div>
    </div>

<script>
    $(document).ready(function(){
        $("#page-Decoded").addClass("active");
        $("#nav_chat").addClass("active");

        {% if chat['subchannels'] %}
            $('#tablesubchannels').DataTable({
                "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "iDisplayLength": 10,
                "order": [[ 5, "desc" ]]
            });
        {% endif %}
        {% if message_id %}
            document.location.hash = '#{{ message_id }}';
        {% endif %}
  });

function toggle_sidebar(){
	if($('#nav_menu').is(':visible')){
		$('#nav_menu').hide();
		$('#side_menu').removeClass('border-right')
		$('#side_menu').removeClass('col-lg-2')
		$('#core_content').removeClass('col-lg-10')
	}else{
		$('#nav_menu').show();
		$('#side_menu').addClass('border-right')
		$('#side_menu').addClass('col-lg-2')
		$('#core_content').addClass('col-lg-10')
	}
}

</script>


<script>
    d3.json("{{ url_for('chats_explorer.chats_explorer_messages_stats_week_all') }}?type=chat&subtype={{ chat['subtype'] }}&id={{ chat['id'] }}")
        .then(function(data) {
            create_heatmap_week_hour('#heatmapweekhourall', data);
        })

{% if not chat['subchannels'] %}
d3.json("{{ url_for('chats_explorer.chats_explorer_messages_stats_week') }}?type=chat&subtype={{ chat['subtype'] }}&id={{ chat['id'] }}")
.then(function(data) {
    create_heatmap_week_hour('#heatmapweekhour', data);
})
{% endif %}


var heatyearChart = echarts.init(document.getElementById('heatmapyear'));
window.addEventListener('resize', function() {
    heatyearChart.resize();
});
var optionheatmap;

optionheatmap = {
  tooltip: {
    position: 'top',
    formatter: function (p) {
      return p.data[0] + ': ' + p.data[1];
    }
  },
  visualMap: {
    min: 0,
    max: 100,
    calculable: true,
    orient: 'horizontal',
    left: '500',
    top: '-10'
  },
  calendar: [
    {
      orient: 'horizontal',
      range: new Date().getFullYear(),
    },
  ],
  series: [
    {
      type: 'heatmap',
      coordinateSystem: 'calendar',
      data: []
    },

  ]
};
heatyearChart.setOption(optionheatmap);

update_heatmap_year(null);
function update_heatmap_year(year) {
    $.getJSON("{{ url_for('chats_explorer.chats_explorer_messages_stats_year') }}?type=chat&subtype={{ chat['subtype'] }}&id={{ chat['id'] }}&year=" + year)
        .done(function(data) {
            optionheatmap['visualMap']['max'] = data['max']
            optionheatmap['calendar'][0]['range'] = data['year']
            optionheatmap['series'][0]['data'] = data['nb']
            heatyearChart.setOption(optionheatmap)

        }
    );
}
</script>


</body>

</html>
