<!DOCTYPE html>
<html>

<head>
  <title>User Account - AIL</title>
	<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

  <!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

  <!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap4.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3/heatmap_week_hour.js')}}"></script>


</head>
<body>

	{% include 'nav_bar.html' %}

	<div class="container-fluid">
		<div class="row">

			{% include 'sidebars/sidebar_objects.html' %}

			<div class="col-12 col-lg-10" id="core_content">

                {% include 'chats_explorer/card_user_account.html' %}

                {% with translate_url=url_for('chats_explorer.objects_user_account', subtype=meta['subtype']), obj_id=meta['id'] %}
                    {% include 'chats_explorer/block_translation.html' %}
                {% endwith %}


{#                {% if meta['subchannels'] %}#}
{#                    <h4>Sub-Channels:</h4>#}
{#                    <table id="tablesubchannels" class="table">#}
{#                        <thead class="bg-dark text-white">#}
{#                        <tr>#}
{#                            <th></th>#}
{#                            <th></th>#}
{#                            <th></th>#}
{#                            <th></th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody style="font-size: 15px;">#}
{#                        {% for meta in meta["subchannels"] %}#}
{#                            <tr>#}
{#                                <td>#}
{#                                   <img src="{{ url_for('static', filename='image/ail-icon.png') }}" class="rounded-circle mr-1" alt="{{ meta['id'] }}" width="40" height="40">#}
{#                                </td>#}
{#                                <td><b>{{ meta['name'] }}</b></td>#}
{#                                <td><a href="{{ url_for('metas_explorer.objects_subchannel_messages') }}?uuid={{ meta['subtype'] }}&id={{ meta['id'] }}">{{ meta['id'] }}</a></td>#}
{#                                <td>{{ meta['created_at'] }}</td>#}
{#                                <td>#}
{#                                    {% if meta['first_seen'] %}#}
{#                                        {{ meta['first_seen'][0:4] }}-{{ meta['first_seen'][4:6] }}-{{ meta['first_seen'][6:8] }}#}
{#                                    {% endif %}#}
{#                                </td>#}
{#                                <td>#}
{#                                    {% if meta['last_seen'] %}#}
{#                                        {{ meta['last_seen'][0:4] }}-{{ meta['last_seen'][4:6] }}-{{ meta['last_seen'][6:8] }}#}
{#                                    {% endif %}#}
{#                                </td>#}
{#                                <td>{{ meta['nb_messages'] }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
{##}
{#                {% endif %}#}


            </div>

        </div>
    </div>

<script>
    $(document).ready(function(){
        $("#page-Decoded").addClass("active");
        $("#nav_chat").addClass("active");

{#        {% if meta['subchannels'] %}#}
{#            $('#tablesubchannels').DataTable({#}
{#                "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],#}
{#                "iDisplayLength": 10,#}
{#                "order": [[ 5, "desc" ]]#}
{#            });#}
{#        {% endif %}#}
  });

function toggle_sidebar(){
	if($('#nav_menu').is(':visible')){
		$('#nav_menu').hide();
		$('#side_menu').removeClass('border-right')
		$('#side_menu').removeClass('col-lg-2')
		$('#core_content').removeClass('col-lg-10')
	}else{
		$('#nav_menu').show();
		$('#side_menu').addClass('border-right')
		$('#side_menu').addClass('col-lg-2')
		$('#core_content').addClass('col-lg-10')
	}
}

</script>





</body>

</html>
