<!DOCTYPE html>
<html>

<head>
  <title>User Account - AIL</title>
	<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

  <!-- Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

  <!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/helper.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap4.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3/heatmap_week_hour.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3/chord_directed_diagram.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3/timeline_basic.js')}}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>
  <style>
    .forum-title-card { background: linear-gradient(135deg, #263238, #455a64); color: white; border-radius: .35rem; }
    .forum-banner { width: 100%; max-height: 220px; object-fit: cover; border-radius: .35rem .35rem 0 0; }
    .forum-banner-card { overflow: hidden; }
  </style>

</head>
<body>

	{% include 'nav_bar.html' %}

	<div class="container-fluid">
		<div class="row">

			{% include 'sidebars/sidebar_objects.html' %}

			<div class="col-12 col-lg-10" id="core_content">

                {% include 'chats_explorer/card_user_account.html' %}

                <span class="mt-3">
                    {% include 'objects/image/block_blur_img_slider.html' %}
                </span>
                {% with translate_url=url_for('chats_explorer.objects_user_account', subtype=meta['subtype']), obj_id=meta['id'] %}
                    {% include 'chats_explorer/block_translation.html' %}
                {% endwith %}

                {% if account_context == 'chat' and meta['chats'] %}
                    <h4 class="mx-5 mt-2 text-secondary">User All Messages:</h4>
                    <div id="heatmapweekhourall"></div>

                    <h5>Messages by year:</h5>
                    <div>
                        <div class="row">
                            <div class="col-12 col-lg-11">
                                <div id="heatmapyear" style="width: 100%;height: 300px;"></div>
                            </div>
                            <div class="col-12 col-lg-1">
                                {% for year in meta['years'] %}
                                    <div><button class="btn btn-info mt-1" onclick="update_heatmap_year({{ year }})">{{ year }}</button></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <h5>Languages:</h5>
                    <div id="langpie" style="width: 100%;height: 300px;"></div>
                    {% include 'chats_explorer/block_language_stats.html' %}
                    {% include 'chats_explorer/block_tempolocus.html' %}

                    <h4>Usernames:</h4>
                    <div id="timeline_user_usernames" style="max-width: 900px"></div>

                    <h4>Numbers of Messages Posted by Chat:</h4>
                    <div id="chord_user_chats" style="max-width: 900px"></div>

                    <h4>Numbers of Mentions:</h4>
                    <div id="chord_mentions" style="max-width: 900px"></div>

                    <h4>User Chats:</h4>
                    {% for meta_chats in meta['chats'] %}
                        <div class="my-2">
                            {% with meta=meta_chats,main_obj_id=meta['id']  %}
                                {% include 'chats_explorer/basic_card_chat.html' %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if account_context == 'forum' %}
                    {% set forum = meta.get('forum') %}
                    {% if forum %}
                        <div class="forum-title-card forum-banner-card mb-4">
                            {% if forum.get('banner') %}<img class="forum-banner" src="{{ url_for('objects_image.image', filename=forum['banner']) }}" alt="{{ forum.get('name') or forum['id'] }} banner">{% endif %}
                            <div class="p-4">
                                <h3 class="mb-2">{% if forum.get('svg_icon') and forum['svg_icon'].get('style') == 'svg' %}{{ forum['svg_icon']['icon'] | safe }}{% endif %} {{ forum.get('name') or forum['id'] }}</h3>
                                <div>
                                    <span class="mr-3"><i class="fas fa-fingerprint"></i> {{ forum['id'] }}</span>
                                    <span class="mr-3"><i class="fas fa-layer-group"></i> {{ forum.get('forum_type') or '' }}</span>
                                    {% if forum.get('url') %}<span><i class="fas fa-link"></i> {{ forum['url'] }}</span>{% endif %}
                                </div>
                                {% if forum.get('info') %}<div class="mt-3 bg-light text-dark rounded p-3">{{ forum['info'] }}</div>{% endif %}
                                <a class="btn btn-sm btn-outline-light mt-3" href="{{ url_for('forums_explorer.forum_explorer_forums') }}?id={{ forum['id'] }}"><i class="fas fa-external-link-alt"></i> Show Forum</a>
                            </div>
                        </div>
                    {% endif %}

                    <h4 class="mx-5 mt-2 text-secondary">User Forum Post Activity:</h4>
                    <div id="heatmapweekhourall"></div>

                    <h5>Posts by year:</h5>
                    <div>
                        <div class="row">
                            <div class="col-12 col-lg-11">
                                <div id="heatmapyear" style="width: 100%;height: 300px;"></div>
                            </div>
                            <div class="col-12 col-lg-1">
                                {% for year in meta['years'] %}
                                    <div><button class="btn btn-info mt-1" onclick="update_heatmap_year({{ year }})">{{ year }}</button></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <h4>Usernames:</h4>
                    <div id="timeline_user_usernames" style="max-width: 900px"></div>

                    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                        <h4 class="mb-0">Threads where this user posted</h4>
                        <a class="btn btn-primary" href="{{ url_for('chats_explorer.objects_user_account_posts') }}?subtype={{ meta['subtype'] }}&id={{ meta['id'] }}">
                            <i class="fas fa-list"></i> Show paginated posts
                        </a>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Thread</th>
                            <th>First user post</th>
                            <th>Last user post</th>
                            <th>Posts in thread</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for thread in meta['threads'] %}
                            <tr>
                                <td><a href="{{ url_for('forums_explorer.forum_explorer_thread') }}?subtype={{ thread['subtype'] }}&id={{ thread['id'] }}">{{ thread.get('name') or thread['id'] }}</a></td>
                                <td>{{ thread['first_post_date'] }}</td>
                                <td>{{ thread['last_post_date'] }}</td>
                                <td>{{ thread['nb_posts'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}


            </div>

        </div>
    </div>


{% include 'objects/tooltip_ail_objects.html' %}
<script>
    $(document).ready(function(){
        $("#page-Chats-Explorer").addClass("active");
        $("#nav_chat").addClass("active");

{#        {% if meta['subchannels'] %}#}
{#            $('#tablesubchannels').DataTable({#}
{#                "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],#}
{#                "iDisplayLength": 10,#}
{#                "order": [[ 5, "desc" ]]#}
{#            });#}
{#        {% endif %}#}
  });


let url_t = "{{ url_for('chats_explorer.objects_user_account_usernames_timeline_json') }}?subtype={{ meta["subtype"] }}&id={{ meta["id"] }}"
d3.json(url_t)
    .then(function(data) {
        create_timeline_basic('#timeline_user_usernames', data);
});

{% if account_context == 'chat' and meta['chats'] or account_context == 'forum' and meta['nb_posts'] %}
d3.json("{{ url_for('chats_explorer.user_account_messages_stats_week_all') }}?subtype={{ meta['subtype'] }}&id={{ meta['id'] }}")
    .then(function(data) {
        create_heatmap_week_hour('#heatmapweekhourall', data);
    })

    {% if account_context == 'chat' %}
        let url = "{{ url_for('chats_explorer.objects_user_account_chats_chord_json') }}?subtype={{ meta["subtype"] }}&id={{ meta["id"] }}"
        d3.json(url).then(function(data) {
            create_directed_chord_diagram('#chord_user_chats', data, 0, -1, mouseover_tooltip_ail_obj, mouseout_tooltip_ail_obj);
        });

        let url2 = "{{ url_for('chats_explorer.objects_user_account_mentions_chord_json') }}?subtype={{ meta["subtype"] }}&id={{ meta["id"] }}"
        d3.json(url2).then(function(data) {
            create_directed_chord_diagram('#chord_mentions', data, 0, -1, mouseover_tooltip_ail_obj, mouseout_tooltip_ail_obj);
        });
    {% endif %}


var heatyearChart = echarts.init(document.getElementById('heatmapyear'));
window.addEventListener('resize', function() {
    heatyearChart.resize();
});
var optionheatmap;

optionheatmap = {
  tooltip: {
    position: 'top',
    formatter: function (p) {
      return p.data[0] + ': ' + p.data[1];
    }
  },
  visualMap: {
    min: 0,
    max: 100,
    calculable: true,
    orient: 'horizontal',
    left: '500',
    top: '-10'
  },
  calendar: [
    {
      orient: 'horizontal',
      range: new Date().getFullYear(),
    },
  ],
  series: [
    {
      type: 'heatmap',
      coordinateSystem: 'calendar',
      data: []
    },

  ]
};
heatyearChart.setOption(optionheatmap);

update_heatmap_year(null);
function update_heatmap_year(year) {
    $.getJSON("{{ url_for('chats_explorer.user_account_messages_stats_year') }}?type=chat&subtype={{ meta['subtype'] }}&id={{ meta['id'] }}&year=" + year)
        .done(function(data) {
            optionheatmap['visualMap']['max'] = data['max']
            optionheatmap['calendar'][0]['range'] = data['year']
            optionheatmap['series'][0]['data'] = data['nb']
            heatyearChart.setOption(optionheatmap)

        }
    );
}

{% endif %}
</script>


</body>

</html>
