<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="panel-credential" class="panel panel-green">
                    <div class="panel-heading">
                        <i id="flash-tld" class="fa fa-unlock" flash=""></i> <strong>  Credential</strong> - most posted domain
                        <b id="day-credential" class="pull-right">Today</b> 
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="flot-chart-content pull-right" id='tooltip_graph-credential' align="right">No bar hovered</div>
                        </div>
                        <div class="row">
                            <div class="flot-chart-content col-lg-6" id="flot-pie-chart-credential" style="height:250px; width:33%;"></div>
                            <div class="flot-chart-content col-lg-6" id="flot-bar-chart-credential" style="height:250px; width:66%; margin-top: 5px;"><div class="alert alert-info">Click on a part</div></div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="panel-mail" class="panel panel-green">
                    <div class="panel-heading">
                        <i id="flash-mail" class="fa fa-envelope" flash=""></i><strong>  Mail</strong> - most posted domain (max 1 per paste)
                        <b id="day-mail" class="pull-right">Today</b> 
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="flot-chart-content pull-right" id='tooltip_graph-mail' align="right">No bar hovered</div>
                        </div>
                        <div class="row">
                            <div class="flot-chart-content col-lg-6" id="flot-pie-chart-mail" style="height:250px; width:33%;"></div>
                            <div class="flot-chart-content col-lg-6" id="flot-bar-chart-mail" style="height:250px; width:66%; margin-top: 5px;"><div class="alert alert-info">Click on a part</div></div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <i id="flash-size" class="glyphicon glyphicon-transfer" flash=""></i><strong>  Provider</strong> 
                        <b class="pull-right">Today</b> 
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="col-lg-12">
                                <h4 class="col-lg-3">Average paste size by provider </h4>
                                <div class="flot-chart-content pull-right" id='tooltip_graph-size' align="right">No bar hovered</div>
                            </div>
                            <div class="row">
                                <div class="flot-chart-content col-lg-6" id="flot-pie-chart-size" style="height:250px; width:33%;"></div>
                                <div class="flot-chart-content col-lg-6" id="flot-bar-chart-size" style="height:250px; width:66%;"><div class="alert alert-info">Click on a part</div></div>
                            </div>

                            <div class="col-lg-12">
                                <h4 class="col-lg-3">Number of paste by provider </h4>
                                <div class="flot-chart-content pull-right" id='tooltip_graph-num' align="right">No bar hovered</div>
                            </div>
                            <div class="row">
                                <div class="flot-chart-content col-lg-6" id="flot-pie-chart-num" style="height:250px; width:33%;"></div>
                                <div class="flot-chart-content col-lg-6" id="flot-bar-chart-num" style="height:250px; width:66%;"><div class="alert alert-info">Click on a part</div></div>
                            </div>

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel -->
    </div>
</div>
