<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i id="flash-tld" class="fa fa-unlock" flash-tld=""></i> <strong>  Credential</strong> - Today most posted domain
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="flot-chart-content col-lg-6" id="flot-pie-chart-credential" style="height:250px; width:48%;"></div>
                            <div class="flot-chart-content col-lg-6" id="flot-bar-chart-credential" style="height:250px; width:48%;"></div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i id="flash-tld" class="fa fa-envelope" flash-tld=""></i><strong>  Mail</strong> - Today most posted domain (max 1 per paste)
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="flot-chart-content col-lg-6" id="flot-pie-chart-mail" style="height:250px; width:48%;"></div>
                            <div class="flot-chart-content col-lg-6" id="flot-bar-chart-mail" style="height:250px; width:48%;"></div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i id="flash-size" class="glyphicon glyphicon-transfer" flash-tld=""></i><strong>  Provider</strong> - Today average paste size
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="flot-chart-content col-lg-6" id="flot-pie-chart-size" style="height:250px; width:48%;"></div>
                            <div class="flot-chart-content col-lg-6" id="flot-bar-chart-size" style="height:250px; width:48%;"></div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel -->
    </div>
</div>
