	<!DOCTYPE html>
	<html>

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <title>Modules Statistics - AIL</title>
		<link rel="icon" href="{{ url_for('static', filename='image/ail-icon.png') }}">

	  <!-- Core CSS -->
	  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static', filename='css/dygraph_gallery.css') }}" rel="stylesheet" type="text/css" />
	  <!-- JS -->
	  <script type="text/javascript" src="{{ url_for('static', filename='js/dygraph-combined.js') }}"></script>
	  <script language="javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
          <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery.flot.pie.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>

	</head>
	<body>

            {% include 'navbar.html' %}

        <div id="page-wrapper">
           </br>
           {% include 'trending_graphs/Moduletrending.html' %}
        </div>
        <!-- /#page-wrapper -->

        <script>
            var chart_1_num_day = 5;
            var chart_2_num_day = 15;
        </script>

        <script src="{{ url_for('static', filename='js/moduleTrending.js') }}"
						data-url_providersChart="{{ url_for('trendingmodules.providersChart') }}"
						data-url_moduleCharts="{{ url_for('trendingmodules.modulesCharts') }}">
				</script>
        <script>
            $(document).ready(function(){
                activePage = "page-modulestats"
                $("#"+activePage).addClass("active");

                $("[align]").css({padding: "2px", width: 'auto', 'background': "rgba(102, 102, 102, 0.15)" , 'border': "3px solid rgb(102, 102, 102)"})

               refreshPlot(true);
            });

            function refreshPlot(init){
                refreshAnimation();

                plot_top_graph("credential", init);
                plot_top_graph("mail", init);
                plot_top_graph("size", init);
                plot_top_graph("num", init);

                setTimeout(function(){ refreshPlot(false); }, 10000);
            }

            function refreshAnimation(){
                $("[flash]").css('color', '#fece00');
                setTimeout(function() { $("[flash]").css('color', 'black'); }, 1000);
            }
        </script>

    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
